<h4 (click)="navigate()">
    <i class="fa-solid fa-chevron-left mx-2"></i>
    Back to Dashboard
</h4>
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card pull-down mb-4" [ngClass]="pillExpandIndex === i ? 'expand' : 'cust-collapse'"
            *ngFor="let case of caseDetails.casesInformation; let i = index">
            <div class="card-head">
                <h2>{{case.caseNumber}}|0589764<p>{{case.headOfHouseholdName}} {{case.headOfHouseholdAge}}
                        ({{case.headOfHouseholdGender}})</p>
                </h2>
                <span class="badge rounded-pill bg-success">{{case.caseStatus}}</span>
            </div>
            <div class="card-body">
                <div class="faux-table bg-tp">
                    <div class="row">
                        <div class="col-6">
                            <span class="head">Phone:</span>
                        </div>
                        <div class="col-6">
                            <div class="data">
                                {{case.householdInformation?.householdContactInformation?.mainContactNumber?.phoneNumber}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">Address:</span>
                        </div>
                        <div class="col-6">
                            <div class="data">{{case.householdInformation?.residentAddress?.streetAddressLine1}},
                                {{case.householdInformation?.residentAddress?.streetAddressLine2 ?
                                case.householdInformation?.residentAddress?.streetAddressLine2 + ',' : ''}}
                                {{case.householdInformation?.residentAddress?.city}},
                                {{case.householdInformation?.residentAddress?.state}},
                                {{case.householdInformation?.residentAddress?.zip}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">School District:</span>
                        </div>
                        <div class="col-6">
                            <div class="data">
                                {{districtObj[case.householdInformation?.residentAddress?.schoolDistrict]}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <span class="head">County Office:</span>
                        </div>
                        <div class="col-6">
                            <div class="data">{{countyObj[case.householdInformation?.residentAddress?.county]}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">Phone (Primary):</span>
                        </div>
                        <div class="col-6">
                            <div class="data">
                                {{case.householdInformation?.householdContactInformation?.mainContactNumber?.phoneNumber}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">Phone (Secondary):</span>
                        </div>
                        <div class="col-6">
                            <div class="data">
                                {{case.householdInformation?.householdContactInformation?.secondContactNumber?.phoneNumber}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">Address:</span>
                        </div>
                        <div class="col-6">
                            <div class="data">{{case.householdInformation?.residentAddress?.streetAddressLine1}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">UFI #</span>
                        </div>
                        <div class="col-6">
                            <div class="data">{{case.householdInformation?.residentAddress?.ufi}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">Insurance Company</span>
                        </div>
                        <div class="col-6">
                            <div class="data">{{case.householdInformation?.residentAddress?.insurance}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="head">Language:</span>
                        </div>
                        <div class="col-6">
                            <div class="data">{{case.householdInformation?.residentAddress?.language}}</div>
                        </div>
                    </div>
                </div>
                <div class="alt-case">
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-4 text-end">
                            <button class="btn btn-secondary btn-sm" (click)="onSelectCase(case)">Select</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="badge rounded-pill pull" (click)="onPillClick(i)">
                <i class="fa-regular fa-angle-down"></i>
            </button>
            <!-- This button should be used to toggle the "collapse" class on the card-body div above. 
                                There is no need to write any animation for the toggle as that is all included in the styling.
                                This should just toggle the collapse class on (which will cause just the card-head to be shown) or off (which will cause the full card body to show)-->
        </div>
        <div class="card col-12 col-lg-12 mt-5">
            <div class="card-head mx-3 mt-3">
                <h1>Your Reported Changes and Scanning History</h1>
            </div>
            <div class="card-body">
                <div class="card collapsable accordion mb-3" id="collapseCardExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header card-head" id="headingOne">
                            <!-- <i class="fa-regular fa-clock card-icon"></i> -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#reportingCard" aria-expanded="true" aria-controls="collapseOne">
                                <div class="collapse-card-btn-text left-icn clock-icn">Reporting History</div>
                            </button>
                        </h2>
                        <div id="reportingCard" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#collapseCardExample">
                            <div class="accordion-body card-body">
                                <p>Below is a list of changes you reported in the past year.</p>
                                <hr />
                                <ul>
                                    <li
                                        *ngFor="let ticket of ticketHistory | slice: (ticketPage-1) * ticketPageSize : ticketPage * ticketPageSize">
                                        <div class="row rec-head">
                                            <div class="col-6">
                                                <label>Ticket Number</label>
                                                <label class="data">{{ticket.compassTicketNumber}}</label>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button class="btn btn-secondary btn-sm"
                                                    (click)="viewTicketDetails(ticket)">View</button>
                                            </div>
                                        </div>
                                        <div class="row rec-data">
                                            <div class="col-6">
                                                <label>Date Created</label>
                                                <label class="data">{{ticket.dateCreated | date: 'medium'}}</label>
                                            </div>
                                            <div class="col-6">
                                                <label>Status</label>
                                                <label class="badge warn">{{ticket.status}}</label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer" *ngIf="ticketHistory.length">
                                <div class="col-12 col-lg-6 mt-3">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item prev {{ticketPage === 1 ? 'disabled' : ''}}"
                                                (click)="ticketPage = ticketPage - 1">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                                    <span aria-hidden="true"><i
                                                            class="fa-solid fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item {{ticketPage === 1 ? 'active': ''}}"
                                                (click)="ticketPage = 1" *ngIf="ticketTotalPages > 0">
                                                <a class="page-link" href="javascript:void(0);">1</a>
                                            </li>
                                            <li class="page-item {{ticketPage === 2 ? 'active': ''}}"
                                                (click)="ticketPage = 2" *ngIf="ticketTotalPages > 1">
                                                <a class="page-link" href="javascript:void(0);">2</a>
                                            </li>
                                            <li class="page-item {{ticketPage === 3 ? 'active': ''}}"
                                                (click)="ticketPage = 3" *ngIf="ticketTotalPages > 2">
                                                <a class="page-link" href="javascript:void(0);">3</a>
                                            </li>
                                            <!-- <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0);" tabindex="-1" aria-disabled="true">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                </a>
                                            </li> -->
                                            <!-- <li class="page-item"><a class="page-link"  href="javascript:void(0);">9</a></li> -->
                                            <li class="page-item next {{ticketPage === ticketTotalPages ? 'disabled' : ''}}"
                                                (click)="ticketPage = ticketPage + 1">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                                    <span aria-hidden="true"><i
                                                            class="fa-solid fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card collapsable accordion mb-3" id="scanningHistoryCard">
                    <div class="accordion-item">
                        <h2 class="accordion-header card-head" id="headingTwo">
                            <!-- <i class="fa-regular fa-clock card-icon"></i> -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#scanningCard" aria-expanded="true" aria-controls="collapseOne">
                                <div class="collapse-card-btn-text left-icn file-icn">Scanning History</div>
                            </button>
                        </h2>
                        <div id="scanningCard" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#scanningHistoryCard">
                            <div class="accordion-body card-body">
                                <p>Below is a list of documents you uploaded in the last year.</p>
                                <hr />
                                <ul>
                                    <li *ngFor="let doc of scannedDocHistory">
                                        <div class="row rec-head">
                                            <div class="col-6">
                                                <label>Document Type</label>
                                                <label class="data">{{doc.documentType}}</label>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button class="btn btn-secondary btn-sm"
                                                    (click)="viewTicketDetails(doc)">View</button>
                                            </div>
                                        </div>
                                        <div class="row rec-data">
                                            <div class="col-6">
                                                <label>Scanned On</label>
                                                <label class="data">{{doc.scannedOn | date: 'medium'}}</label>
                                            </div>
                                            <div class="col-6">
                                                <label>Document Name</label>
                                                <label class="badge warn">{{doc.documentName}}</label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer" *ngIf="scannedDocHistory.length">
                                <div class="col-12 col-lg-6 mt-3">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item prev">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                                    <span aria-hidden="true"><i
                                                            class="fa-solid fa-angle-left"></i></span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link"
                                                    href="javascript:void(0);">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0);" tabindex="-1"
                                                    aria-disabled="true">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">9</a>
                                            </li>
                                            <li class="page-item next">
                                                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                                    <span aria-hidden="true"><i
                                                            class="fa-solid fa-angle-right"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 action-bar">
            <div class="col">
                <button type="button" class="btn btn-outline-tertiary" (click)="navigateToGatepost()">
                    Report a Change
                </button>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-outline-tertiary" (click)="uploadDoc()">
                    Upload Document
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade show" style="display:block" [hidden]="!loading" id="loadingModal" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true" #loadingModal>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h2>Loading...</h2>
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade show" style="display:block" [hidden]="!showAlert" id="loadingModal" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true" #loadingModal>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="row d-flex">
                        <h3>
                            <i class="fa-regular fa-circle-check"></i>
                            <span class="mx-3">Your crisis report has been submitted.</span>
                            <i class="fa-regular fa-xmark" (click) = "showAlert = false"></i>
                        </h3>

                    </div>
                    <p>As a reminder, changes may not take effect for 48 hours.</p>
                </div>
            </div>
        </div>
    </div>