<h1>How much is the total value of all the resources owned by the people in the house?</h1>
<div class="accordion page-tip mb-3" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is included as a resource?
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
               <p class="mb-3">
                Resources include things like any cash, checking accounts, savings accounts, Certificates of Deposit (CDs), retirement accounts, investments, etc.
                </p><p class="mb-3">
                You should not include things like cars, house, etc.
                </p><p>
                Make a list of all of the resources owned by each person in the household and add to get a total amount.
               </p>
            </div>
        </div>
    </div>
</div>
<div class="mb-3">
    <input
        type="text"
        class="form-control"
        id="otherResources"
        value="$2100"
    />
</div>
