<form [formGroup]="householdSituationForm">
        <h1 class="standard-mb">Tell us about the home you live in.</h1>
        <compass-ui-cw-select [fieldId]="'houSituation'" [fieldLabel]="'What is your current housing situation? '"
            [FormGroup]="householdSituationForm" [requiredText]="requiredFields.indexOf('houSituation')>-1 ? '(required)' : ''" [requiredIndicator]="requiredFields.indexOf('houSituation')>-1"
            [displayError]="isFieldValid('houSituation')" [errorMsg]="errorMap('houSituation')">
            <option value="" selected>- Select One -</option>
            <option *ngFor="let houSituatin of houSitu" value={{houSituatin.id}}>{{houSituatin.displayValue}}
            </option>
        </compass-ui-cw-select>
        <div class="card arrow-card standard-mb" *ngIf="householdSituationForm.value.houSituation === '6'">
            <div class="card-body">
                <div class="standard-mb">
                    <label class="form-label" for="othHouSituation">
                        Tell us about the other housing situation.
                        <span *ngIf="requiredFields.indexOf('othHouSituation')>-1">(required)</span>
                    </label>
                    <textarea id="taothHouSituation" type="text" class="form-control" formControlName="othHouSituation" 
                        aria-describedby="taReasonHelp" required maxlength="256" rows="5"></textarea>
                    
                    <div *ngIf="inputLength">
                    <div _ngcontent-jyf-c235="" class="error-text"><i _ngcontent-jyf-c235="" class="fa-regular fa-circle-exclamation"></i>
                        No description for the other housing situation is entered</div></div>
                    <div class="text-end">
                        <small class="text-muted">{{householdSituationForm.get('othHouSituation').value.length}}/256</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-info">
            More information
            <br>
            By housing situation, we mean someone in your household owns or is buying a home, rents, or rooms at a listed
            address.
        </div>
        <!-- <div class="accordion page-tip standard-mb" id="accordionExample">
            <div class="accordion-item" >
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Tell us about the other housing situation.
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            By housing situation, we mean someone in your household owns or is buying a home, rents, or
                            rooms at a listed address.
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
    <nav class="action-bar d-flex justify-content-between">
        <div>
            <button type="button" class="btn btn-outline-tertiary" (click)="previous()">
                Back
            </button>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">
                Next
            </button>
        </div>
    </nav>
</form>