<div class="text-center">
    <img src="./assets/images/image.png" class="gatepost-img" alt="Resources Image" aria-hidden="true">
    <h1>Resources</h1>
    <p class="fw-bold">Let's now enter information about the resources you have.</p>
</div>
<div class="alert alert-info align-items-center">
    <p>For the resources section you might need the following information:</p>
    <ul>
        <li>Property Information</li>
        <li>Cash Sums</li>
        <li>Bank Account Statements</li>
        <li>Vechicle Details</li>
        <li>Burial Resources</li>
        <li>Life Insurance Policies</li>
    </ul>
</div>
<div class="text-center">
    <a href="#">Save and exit</a> if you'd like to come back later.
</div>