 
        <h1 class="standard-mb">{{ 'afsGSFStitle' | translate}}</h1>
        <div class="alert alert-info standard-mb">
            <p>{{ 'afsGSFStext1' | translate}}
            </p>
            <p class="fw-bold">
            {{ 'afsGSFStext2' | translate}} <span class="fw-bold">{{ 'afsGSFStext3' | translate}}</span></p>
        </div>
        <p class="standard-mb">{{ 'afsGSFStext4' | translate}}
        </p>
        <div class="accordion page-tip standard-mb" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ 'afsGSFStext5' | translate}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>{{ 'afsGSFStext6' | translate}}</p>
                        <ul>
                            <li>{{ 'afsGSFSbullet1' | translate}}</li>
                            <li>{{ 'afsGSFSbullet2' | translate}}</li>
                            <li>{{ 'afsGSFSbullet3' | translate}}</li>
                            <li>{{ 'afsGSFSbullet4' | translate}}</li>
                            <li>{{ 'afsGSFSbullet5' | translate}}</li>
                            <li>{{ 'afsGSFSbullet6' | translate}}</li>
                            <li>{{ 'afsGSFSbullet7' | translate}}</li>
                             
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="standard-mb">{{ 'afsGSFStext7' | translate}}</p>
        <div class="accordion page-tip standard-mb" id="accordionExample1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingtwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        {{ 'afsGSFStext8' | translate}}
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingtwo"
                    data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                        <p>{{ 'afsGSFStext9' | translate}}</p>
                        <ul>
                            <li>{{ 'afsGSFSbullet8' | translate}}</li>
                            <li>{{ 'afsGSFSbullet9' | translate}}</li>
                            <li>{{ 'afsGSFSbullet10' | translate}}</li>
                            <li>{{ 'afsGSFSbullet11' | translate}}</li>
                            <li>{{ 'afsGSFSbullet12' | translate}}</li>
                            <li>{{ 'afsGSFSbullet13' | translate}}</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="standard-mb">{{ 'afsGSFStext10' | translate}}</p>
        
      
        <ul class="standard-mb">
            <li>{{ 'afsGSFSbullet14.1' | translate}} <span class="fw-bold">{{ 'afsGSFSbullet14.2' | translate}}</span></li>
            <li>{{ 'afsGSFSbullet15' | translate}}</li>
            <li>{{ 'afsGSFSbullet16' | translate}}</li>
        </ul>
        <nav class="action-bar d-flex justify-content-between">
            <div>
                <button type="button" class="btn btn-outline-tertiary" (click)="previousRoute()">
                    {{ 'back' | translate}}
                </button>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" (click)="nextRoute()">
                    {{ 'next' | translate}}
                </button>
            </div>
        </nav>
 