<h1>Tell us who owns this burial space.</h1>
<p class="fw-bold">Select all that apply.</p>
<form [formGroup]=" burialSpacesForm">
    <cw-field-error-display [displayError]="displayError" errorMsg="{{'diqSelectOneOption' | translate}}">
    </cw-field-error-display>
    <div *ngFor="let person of householdPersons;" class="standard-mb">
        <compass-ui-cw-checkbox label="{{person?.firstName}} {{person?.midName}} {{person?.lastName}}
                            {{getAge(person?.dateOfBirth)}} {{person?.suffix}}
                           " (inputModelChange)="onCheckboxChange(person.id!, $event)"
            [isChecked]="getBurialSpaceState(person.id!)" [textStyle]="'custom'">
        </compass-ui-cw-checkbox>
    </div>
    <div class="standard-mb">
        <compass-ui-cw-checkbox label="Someone outside of the household"
            (inputModelChange)="outsideOfHousedholdChanged($event)" [textStyle]="'custom'">
        </compass-ui-cw-checkbox>
    </div>   
</form>
<compass-ui-cw-dpq-button backButtonLabel=" {{'backBtnText'| translate}}" nextButtonLabel="{{'nextBtnText'| translate}}"
    (next)="goNext()" (back)="goBack()">
</compass-ui-cw-dpq-button>


<!-- <cw-simpletile-checkbox-textbox [simpleTileCheckboxData]="burialSpaceJsonData" (nextPage)="goNext($event)"
    (previousPage)="goBack()" [selectedItems]="selectedUserids" [validators]="textboxValidators"
    [otherNameText]="ownerName">
</cw-simpletile-checkbox-textbox> -->