<h1>You filled in your name and address for your SNAP (formerly known as Food Stamps) application.</h1>
<p><b>Since you are only applying for SNAP, you can skip the rest of the questions for now and sign and submit this application.</b></p>
<div class="alert alert-info">
    <p>You can skip to the end of the application now, but we suggest that you keep going.</p>
    <p>To receive benefits you will have to answer the rest of the questions when you talk to your County Assistance Office
    (CAO).</p>
</div>
    <div class="text-center px-2">
        <p><a href="#">Skip and Submit</a></p>
    </div>

    <div class="row mt-3 action-bar">
        <div class="col">
            <button type="button" class="btn btn-outline-tertiary" (click)="goBack()">
                Back
            </button>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" (click)="goNext()">
                Next
            </button>
        </div>
    </div>
    
