<form [formGroup]="paperlessGroup">
  <h1>{{ 'sa_registerGPtitle' | translate }}</h1>
  <div class="alert alert-info">
    <p>{{ 'sa_registerGPtext1' | translate }}</p>
    <p>{{ 'sa_registerGPtext2' | translate }}</p>
  </div>

  <fieldset class="button-group">
    <legend>{{'sa_registerGPlbl1' | translate }}<!--<span>{{'lblrequired' |
        translate}}</span>--></legend>
    <compass-ui-cw-radiobutton ngDefaultControl [showError]="isFieldInvalid('receiveNotices')" formControlName="receiveNotices"
      [required]="true" radioBtnValue="Yes" radioBtnId="Yes" radioButtonGroupName="receiveNotices" labelClass="btn btn-sm btn-outline-tertiary float-start"
      radioClass="btn-check" [radioLabel]="'lblyes'| translate">
    </compass-ui-cw-radiobutton>

    <compass-ui-cw-radiobutton ngDefaultControl [showError]="isFieldInvalid('receiveNotices')" formControlName="receiveNotices"
      [required]="true" radioBtnValue="No" radioBtnId="No" radioButtonGroupName="receiveNotices" labelClass="btn btn-sm btn-outline-tertiary float-start"
      radioClass="btn-check" [radioLabel]="'lblno'| translate">
    </compass-ui-cw-radiobutton>
  </fieldset>

  <ul>
    <li>{{ 'sa_registerGPbullet1' | translate}}</li>
    <li>{{ 'sa_registerGPbullet2' | translate}}</li>
    <li>{{ 'sa_registerGPbullet3' | translate}}</li>
  </ul>

  <div class="alert alert-info">
    <p class="fw-bold">{{ 'sa_registerGPtext3' | translate}}</p>
  </div>
  <p>
    {{ ('sa_registerGPtext4' | translate) + ' '}}
    <span class="fw-bold">{{ ('sa_registerGPtext5' | translate) + ' '}}</span>
    {{ 'sa_registerGPtext6' | translate}}
  </p>

  <div class="accordion page-tip mb-3" id="paperlessAcc">
    <div class="accordion-item">
        <h2 class="accordion-header" id="paperlessAccHead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#paperlessAccBody" aria-expanded="true" aria-controls="paperlessAccBody">
                {{ 'sa_registerGPtext7' | translate}}
            </button>
        </h2>
        <div id="paperlessAccBody" class="accordion-collapse collapse" aria-labelledby="paperlessAccHead"
            data-bs-parent="#paperlessAcc">
            <div class="accordion-body">
                <p>{{ 'sa_registerGPtext8' | translate }}</p>
                <p>{{ 'sa_registerGPtext9' | translate }}</p>
            </div>
        </div>
    </div>
</div>

  <compass-ui-cw-dpq-button backButtonLabel="{{'back'| translate}}" nextButtonLabel="{{'next'| translate}}"
    (back)="back()" (next)="next()">
  </compass-ui-cw-dpq-button>
  <br />
  <p class="text-center"><a class="hyperlink" (click)="toLogin()">{{ 'sa_registerToLogin' | translate }}</a></p>
</form>
