<div class="homepage">
    <div class="bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-xl-6">
                    <hr />
                    <h1>Welcome to COMPASS</h1>
                    <h2>The fast and easy way to access benefits - anytime and anywhere.</h2>
                    <p>COMPASS is an online tool for Pennsylvanians to apply for many health and human service programs
                        and manage benefit information.</p>
                    <div>
                        <button class="btn btn-primary">Get Started</button>
                        <button class="btn btn-outline-tertiary">Renew Now</button>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-xl-6">
                    <div class="svg-div landscape">
                        <img src="./assets/images/hero1.png" class="img-fluid" aria-hidden="true" />
                    </div>
                    <div class="svg-div portrait">
                        <img src="./assets/images/hero1-tablet.png" class="img-fluid" aria-hidden="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container">
            <h2 class="h1 text-md-center">How Can We Help You?</h2>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits1-healthcare.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>Health Care Coverage</h3>
                            <p>Includes CHIP, Medical Assistance, Medicaid for Former Foster Care Youth, Mental
                                Health/Substance Abuse, Pennsylvania's Health Insurance Marketplace (Pennie)</p>
                            <a href="http://www.healthchoices.pa.gov" target="_blank">About Health Care Coverage</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits2-foodassistance.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>Food Assistance</h3>
                            <p>Supplemental Nutrition Assistance Program (SNAP) formerly known as Food Stamps.</p>
                            <a href="https://www.dhs.pa.gov/Services/Assistance/Pages/SNAP.aspx" target="_blank">About
                                Food Assistance</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits3-cashassistance.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>Cash Assistance</h3>
                            <p>Temporary Assistance for Needy Families (TANF), State Blind Pension, and Refugee Cash
                                Assistance give cash help to people or families in need.</p>
                            <a href="https://www.dhs.pa.gov/Services/Assistance/Pages/Cash-Assistance.aspx"
                                target="_blank">About Cash Assistance</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits4-childcare.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>Help With Paying for Child Care</h3>
                            <p>The Child Care Works program helps families pay for child care.</p>
                            <a href="https://www.dhs.pa.gov/Services/Children/Pages/Child-Care-Works-Program.aspx"
                                target="_blank">About Help Paying for Child Care</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-secondary">view all benefits</button>
            </div>
        </div>
    </div>
    <div class="bg-gray">
        <div class="container quick-actions">
            <div class="row">
                <div class="col-12 col-xl-5 centering">
                    <img src="./assets/images/quickaction-hero1.png" aria-hidden="true" class="img-fluid" />
                </div>
                <div class="col-12 col-xl-7">
                    <h2 class="h1">COMPASS Quick Actions</h2>
                    <p class="mb-4">Not sure where to start? Access these resources easily with COMPASS Quick Actions.
                    </p>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-key">
                                <div>
                                    <h3>Manage Your Benefits Online</h3>
                                    <p>Your My COMPASS Account is a secure, central location for your application and
                                        benefit information.</p>
                                    <a href="www.google.com">Create a My COMPASS Account</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-home-heart">
                                <div>
                                    <h3>Emergency Rental Assistance Program (ERAP)</h3>
                                    <p>Start your application or recertify.</p>
                                    <a href="www.google.com">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-money-light">
                                <div>
                                    <h3>Low Income Home Energy Assistance Program (LIHEAP)</h3>
                                    <p>The Low-Income Home Energy Assistance Program (LIHEAP) helps pay your energy
                                        bills.</p>
                                    <a href="www.google.com">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-apple">
                                <div>
                                    <h3>Free or Reduced-Price School Meals</h3>
                                    <p>The National School Lunch Program (NSLP) gives low-cost or free school meals to
                                        children who qualify.</p>
                                    <a href="applynow/gettingstarted">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container ma-svs-container">
            <h2 class=" h1 text-start text-md-center">Need Other Medical Assistance Services?</h2>
            <p class="mb-4 text-start text-md-center">Home and Community-Based Services can help more than Medical
                Assistance for a person who wants to stay in a community. You can't apply for these programs in COMPASS,
                but we can send a referral to the program office for you. </p>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="ma-svcs">
                        <h3>Early Intervention</h3>
                        <a href="https://www.dhs.pa.gov/Services/Children/Pages/Early-Intervention%20Services.aspx"
                            target="_blank">About Early Intervention Services</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="ma-svcs">
                        <h3>Intellectual Disability</h3>
                        <a href="https://www.dhs.pa.gov/Services/Disabilities-Aging/Pages/Intellectual-Disabilities-Services.aspx"
                            target="_blank">About Intellectual Disability Services</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="ma-svcs">
                        <h3>Adult Autism Services</h3>
                        <a href="https://www.dhs.pa.gov/Services/Disabilities-Aging/Pages/Autism-Services.aspx"
                            target="_blank">About Adult Autism Services</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 text-start text-lg-center">
                    <button class="btn btn-secondary" [routerLink]="['referrals']">Start Referral</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray">
        <div class="container looking-resources">
            <h2 class="h1 text-center">
                Looking for Other Resources?
            </h2>
            <div class="row">
                <div class="col-12 col-lg-4 mb-5">
                    <div class="other-resources">
                        <div class="text-center icn-div">
                            <i class="fa-regular fa-house-heart"></i>
                        </div>
                        <h3 class="h2 text-center">
                            Using COMPASS
                        </h3>
                        <ul class="text-center">
                            <li><a href="www.google.com">Reference Guide</a></li>
                            <li><a href="www.google.com">Community Reference Guide</a></li>
                        </ul>
                        <div class="text-center">
                            <button class="btn btn-secondary">See All Resources</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-5">
                    <div class="other-resources">
                        <div class="text-center icn-div">
                            <i class="fa-regular fa-link"></i>
                        </div>
                        <h3 class="h2 text-center">
                            Important Links
                        </h3>
                        <ul class="text-center">
                            <li><a href="www.google.com">Find Early Learning Programs and Child Care Providers</a></li>
                            <li><a href="www.google.com">Find Home and Community-Based Services Providers</a></li>
                            <li><a href="www.google.com">Check Application Status</a></li>
                            <li><a href="http://www.google.com">Free Summer Meals for Children</a></li>
                        </ul>
                        <div class="text-center">
                            <button class="btn btn-secondary">See All Links</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-5">
                    <div class="other-resources">
                        <div class="text-center icn-div">
                            <i class="fa-regular fa-messages-question"></i>
                        </div>
                        <h3 class="h2 text-center">
                            FAQs
                        </h3>
                        <ul class="text-center">
                            <li><a href="www.google.com">Health Care Coverage</a></li>
                            <li><a href="www.google.com">Supplemental Nutrition Assistance Program (SNAP)</a></li>
                            <li><a href="www.google.com">Cash Assistance</a></li>
                            <li><a href="www.google.com">Children’s Health Insurance Program (CHIP)</a></li>
                        </ul>
                        <div class="text-center">
                            <button class="btn btn-secondary">See All FAQS</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>