<h1>{{'diqTypeOfSchoolHeaderOne' | translate}} {{userName$ | async}} {{'diqTypeOfSchoolHeaderTwo' | translate}}</h1>

<div class="mb-3">
  <compass-ui-cw-select [fieldId]="'schoolType'"  [FormGroup]="schoolTypeForm">
   
    <option value="" selected>- Select One -</option>
    <option *ngFor="let school of schoolTypes" [value]="school.id">
      {{ school.displayValue }}
    </option>
  </compass-ui-cw-select>
</div>
<compass-ui-cw-dpq-button backButtonLabel=" {{'backBtnText'| translate}}" nextButtonLabel="{{'nextBtnText'| translate}}"
  (next)="next()" (back)="back()">
</compass-ui-cw-dpq-button>