<form (ngSubmit)="onSubmit()">

    <div class="text-center px-2">
        <img src="./assets/images/image.png" class="gatepost-img" />
        <h1 class="standard-mb">Income</h1>
        <p class="form-subtitle standard-mb">Now, let's enter information about your household's income.</p>
    </div>
    <div class="alert alert-info standard-mb">
        <div class="text-left">
            <p class="standard-mb">For the income section you might need these documents:</p>
            <ul>
                <li>Paycheck Stubs</li>
                <li>Bank Statements</li>
                <li>Disability or Social Security Documents</li>
            </ul>
        </div>
    </div>

        <p class="text-center standard-mb"><a href="#" class="hyperlink-lg">Save and exit</a> if you’d like to come back later.</p>


    <nav class="action-bar d-flex justify-content-between">
        <div>
            <button type="button" class="btn btn-outline-tertiary" (click)="previousRoute()">
                Back
            </button>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
                Next
            </button>
        </div>
    </nav>
</form>