<div class="homepage">
    <div class="bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-xl-6">
                    <hr />
                    <h1>{{'lblWelcomeLine1' | translate}}</h1>
                    <h2>{{'lblWelcomeLine2' | translate}}</h2>
                    <p>{{'lblWelcomeLine3' | translate}}</p>
                    <div>
                        <compass-ui-cw-button textStyle="btn btn-primary" buttonLabel="{{'getStartedBtn' | translate}}">
                        </compass-ui-cw-button>
                        <compass-ui-cw-button textStyle="btn btn-outline-tertiary" buttonLabel="{{'referNowBtn' | translate}}">
                        </compass-ui-cw-button>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-xl-6">
                    <div class="svg-div landscape">
                        <img src="./assets/images/hero1.png" class="img-fluid" aria-hidden="true" />
                    </div>
                    <div class="svg-div portrait">
                        <img src="./assets/images/hero1-tablet.png" class="img-fluid" aria-hidden="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>