<form [formGroup]="newPasswordGroup">
  <h1>{{ 'sa_forgotpassNPtitle' | translate }}</h1>
  <div class="mb-3">
    <compass-ui-password [passwordfieldId]="'password'" [FormGroup]="newPasswordGroup"
      [label]="'sa_forgotpassNPlbl1' | translate" [requiredText]="'lblrequired' | translate" [requiredIndicator]="true"
      [displayError]="isFieldInvalid('password')" [errorText]="errorMap('password') | translate:{ minLength: passwordMinL}"
      [maxLength]="passwordMaxL">
    </compass-ui-password>
  </div>
  
  <p class="fw-bold">{{ 'sa_forgotpassNPtext1' | translate}}</p>
  <ul>
    <li>{{ 'sa_forgotpassNPbullet1' | translate}}</li>
    <li>{{ 'sa_forgotpassNPbullet2' | translate}}</li>
    <li>{{ 'sa_forgotpassNPbullet3' | translate}}</li>
    <li>{{ 'sa_forgotpassNPbullet4' | translate}}</li>
    <li>{{ 'sa_forgotpassNPbullet5' | translate}}</li>
  </ul>
  
  <p class="fw-bold">{{ 'sa_forgotpassNPtext2' | translate}}</p>
  <ul>
    <li>{{ 'sa_forgotpassNPbullet6' | translate}}</li>
    <li>{{ 'sa_forgotpassNPbullet7' | translate}}</li>
    <li>{{ 'sa_forgotpassNPbullet8' | translate}}</li>
  </ul>
  
  <div class="mb-3">
    <compass-ui-password [passwordfieldId]="'confirmPassword'" [FormGroup]="newPasswordGroup"
      [label]="'sa_forgotpassNPlbl2' | translate" [requiredText]="'lblrequired' | translate" [requiredIndicator]="true"
      [displayError]="isFieldInvalid('confirmPassword')" [errorText]="errorMap('confirmPassword') | translate:{ minLength: confirmPasswordMinL}"
      [maxLength]="confirmPasswordMaxL">
    </compass-ui-password>
  </div>
  
  <compass-ui-cw-dpq-button backButtonLabel="{{'back'| translate}}" nextButtonLabel="{{'submitLbl'| translate}}"
    (back)="back()" (next)="submit()">
  </compass-ui-cw-dpq-button>
</form>