<div>
    <h1 class="parent_heading_text">
        More information about paid and unpaid medical bills.
    </h1>
    <h2>
        More information for you because you have paid medical bills.
    </h2>
    <p>
        Paid medical bills may be used as a deduction in determining eligibility for health care coverage.Paid medical
        bills
        may also be used as a deduction in determining eligibility for SNAP
        (formerly known as Food Stamps) when the household adds an elderly or disabled member.Some examples of paid
        medical
        bills are doctor bills, hospital bills, prescription costs, and health insurance premium bills.
        <span class="d-block">The following medical bills may be used as a deduction for health care coverage:</span>
        
        <li>
            Medical bills paid in the month the applicant(s) applied.
        </li>
        <li>
            Medical bills the applicant(s) paid up to three months before applying may be used as a deduction depending
            on
            the
            Medical Assistance Program being reviewed.
        </li>
    </p>
    <h2>
        More information for you because you have unpaid medical bills.
    </h2>
    <p>
        Unpaid medical bills may be used as a deduction in determining eligibility for health care coverage. If the
        applicant(s) received medical services in
        the past 3 months that are not paid yet, we may be able to pay them for the applicant(s). If we cannot pay the
        unpaid medical bills, we may use them as a deduction in determining the eligibility for health care coverage.
        The
        applicant(s) will be asked to show copies of these bills and proof of income for these months

    </p>
</div>
<nav class="action-bar d-flex justify-content-between">
    <div>
        <button type="button" class="btn btn-outline-tertiary" (click) = "showPreviousPage()">
            Back
        </button>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" (click) = "showNextPage()">
            Next
        </button>
    </div>
</nav>