<h1>
     <h1>{{ 'afsRASr&RTitle' | translate }}</h1>
</h1>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ 'afsRASr&RTitle1' | translate }}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>{{ 'afsRARGeneral1' | translate }}</li>
                    <li>{{ 'afsRARGeneral2' | translate }}</li>
                    <li>{{ 'afsRARGeneral3' | translate }}</li>
                    <li>{{ 'afsRARGeneral4' | translate }}</li>
                    <li>{{ 'afsRARGeneral5' | translate }}</li>
                    <li>{{ 'afsRARGeneral6' | translate }}</li>
                    <li>{{ 'afsRARGeneral7' | translate }}</li>
                    <li>{{ 'afsRARGeneral8' | translate }}</li>
                    <li>{{ 'afsRARGeneral9' | translate }}</li>
                    <li>{{ 'afsRARGeneral10' | translate }}</li>
                    <li>{{ 'afsRARGeneral11' | translate }}</li>
                    <li>{{ 'afsRARGeneral12' | translate }}</li>
                    <li>{{ 'afsRARGeneral13' | translate }}</li>
                    <li>{{ 'afsRARGeneral14' | translate }}</li>
                    <li>{{ 'afsRARGeneral15' | translate }}</li>
                    <li>{{ 'afsRARGeneral16' | translate }}</li>
                    <li>{{ 'afsRARGeneral17' | translate }}</li>
                    <li>{{ 'afsRARGeneral18' | translate }}</li>
                    <li>{{ 'afsRARGeneral19' | translate }}</li>
                    <li>{{ 'afsRARGeneral20' | translate }}</li>
                    <li>{{ 'afsRARGeneral21' | translate }}</li>
                    <li>{{ 'afsRARGeneral22' | translate }} </li>
                    <li>{{ 'afsRARGeneral23' | translate }}</li>
                    <li>{{ 'afsRARGeneral24' | translate }}</li>
                    <li>{{ 'afsRARGeneral25' | translate }}</li>
                    <li>{{ 'afsRARGeneral26' | translate }}</li>
                    <li>{{ 'afsRARGeneral27' | translate }}</li>
                    <li>{{ 'afsRARGeneral28' | translate }}</li>
                    <li>{{ 'afsRARGeneral29' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            {{ 'afsRARPenalties1' | translate }}
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        {{ 'afsRARPenalties2' | translate }}<br>
                        {{ 'afsRARPenalties3' | translate }}<br>
                        {{ 'afsRARPenalties4' | translate }}<br>
                        {{ 'afsRARPenalties5' | translate }}<br>
                        {{ 'afsRARPenalties6' | translate }}

                    </li>
                </ul>
                <div class="accordion page-tip standard-mb" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                {{ 'afsRARPenalties7' | translate }}
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>{{ 'afsRARPenalties8' | translate }}</p>
                                <div class="faux-table p-0">
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties9' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties10' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties11' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                {{ 'afsRARPenalties12' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties13' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                <div>{{ 'afsRARPenalties14' | translate }}</div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties15' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                {{ 'afsRARPenalties16' | translate }}<br>
                                                {{ 'afsRARPenalties17' | translate }}<br>
                                                {{ 'afsRARPenalties18' | translate }}<br>
                                                
                                                {{ 'afsRARPenalties19' | translate }}<br>
                                                {{ 'afsRARPenalties20' | translate }}<br>
                                                {{ 'afsRARPenalties21' | translate }}<br>
                                                {{ 'afsRARPenalties22' | translate }}<br>

                                                {{ 'afsRARPenalties23' | translate }}<br>
                                                {{ 'afsRARPenalties24' | translate }}<br>
                                                {{ 'afsRARPenalties25' | translate }}<br>
                                                {{ 'afsRARPenalties26' | translate }}<br>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties27' | translate }}<br>
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                {{ 'afsRARPenalties28' | translate }}<br><br>
                                                {{ 'afsRARPenalties29' | translate }}<br>
                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion page-tip standard-mb" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix1" aria-expanded="true" aria-controls="collapseSix1">
                                {{ 'afsRARPenalties30' | translate }}
                            </button>
                        </h2>
                        <div id="collapseSix1" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="faux-table p-0">
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties9' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties10' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties31' | translate }}<br>
                                                {{ 'afsRARPenalties32' | translate }}<br>
                                                {{ 'afsRARPenalties33' | translate }}<br>
                                                {{ 'afsRARPenalties34' | translate }}<br>
                                                {{ 'afsRARPenalties35' | translate }}<br>
                                                {{ 'afsRARPenalties36' | translate }}<br>
                                                {{ 'afsRARPenalties37' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties24' | translate }}<br>
                                                {{ 'afsRARPenalties25' | translate }}<br>
                                                {{ 'afsRARPenalties22' | translate }}<br>
                                                {{ 'afsRARPenalties38' | translate }}<br>

                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties39' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                <div>{{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties24' | translate }}<br>
                                                {{ 'afsRARPenalties25' | translate }}<br>
                                                {{ 'afsRARPenalties22' | translate }}<br>
                                                {{ 'afsRARPenalties38' | translate }}</div>
                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties40' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties24' | translate }}<br>
                                                {{ 'afsRARPenalties25' | translate }}<br>
                                                {{ 'afsRARPenalties22' | translate }}<br>
                                                {{ 'afsRARPenalties38' | translate }}<br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties41' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                            {{ 'afsRARPenalties42' | translate }}<br>
                                            {{ 'afsRARPenalties43' | translate }}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties44' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties45' | translate }}
                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties46' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                            {{ 'afsRARPenalties45' | translate }}
                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties47' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                            {{ 'afsRARPenalties48' | translate }}
                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties49' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties50' | translate }}
                                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div>
                <div class="accordion page-tip standard-mb" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix2" aria-expanded="true" aria-controls="collapseSix2">
                            {{ 'afsRARPenalties51' | translate }}
                            </button>
                        </h2>
                        <div id="collapseSix2" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="faux-table p-0">
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties9' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                {{ 'afsRARPenalties10' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties52' | translate }}
                                
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                {{ 'afsRARPenalties28' | translate }}<br>
                                
                                                {{ 'afsRARPenalties53' | translate }}
                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties54' | translate }}
                                
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                <div>{{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties48' | translate }}
                                                </div>
                                
                                            </div>
                                        </div>
                                    </div>
                                <div class="row ">
                                    <div class="col-9 col-md-3">
                                        <span class="head sm-head">
                                            {{ 'afsRARPenalties55' | translate }}
                                
                                        </span>
                                    </div>
                                    <div class="col-3 col-md-9 text-end">
                                        <div class="data">
                                            <div>{{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties50' | translate }}
                                            </div>
                                
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                               
                                                                    
    

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion page-tip standard-mb" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix3" aria-expanded="true" aria-controls="collapseSix3">
                            {{ 'afsRARPenalties56' | translate }}
                            </button>
                        </h2>
                        <div id="collapseSix3" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="faux-table p-0">
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties9' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                {{ 'afsRARPenalties10' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties57' | translate }}<br>
                                                {{ 'afsRARPenalties58' | translate }}<br>
                                                {{ 'afsRARPenalties59' | translate }}

                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                        {{ 'afsRARPenalties28' | translate }}<br>
                                            
                                            {{ 'afsRARPenalties60' | translate }}<br>
                                            {{ 'afsRARPenalties61' | translate }}<br>
                                            {{ 'afsRARPenalties62' | translate }}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties63' | translate }}<br>
                                             {{ 'afsRARPenalties64' | translate }}<br>
                                            {{ 'afsRARPenalties65' | translate }}

                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                <div>{{ 'afsRARPenalties28' | translate }}<br>
                                                {{ 'afsRARPenalties60' | translate }}<br>
                                                {{ 'afsRARPenalties61' | translate }}<br>
                                                {{ 'afsRARPenalties62' | translate }}
                                    </div>
      
                                            </div>
                                        </div>
                                    </div>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion page-tip standard-mb" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix4" aria-expanded="true" aria-controls="collapseSix4">
                                {{ 'afsRARPenalties66' | translate }}
                            </button>
                        </h2>
                        <div id="collapseSix4" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="faux-table p-0">
                                    <div class="row">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                                {{ 'afsRARPenalties9' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                                {{ 'afsRARPenalties10' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-9 col-md-3">
                                            <span class="head sm-head">
                                            {{ 'afsRARPenalties67' | translate }}
                                            </span>
                                        </div>
                                        <div class="col-3 col-md-9 text-end">
                                            <div class="data">
                                            {{ 'afsRARPenalties28' | translate }}<br>
                                                
                                                {{ 'afsRARPenalties68' | translate }}<br> {{ 'afsRARPenalties69' | translate }}<br>
                                                {{ 'afsRARPenalties70' | translate }}<br> {{ 'afsRARPenalties71' | translate }}<br>
                                                {{ 'afsRARPenalties72' | translate }} <br>{{ 'afsRARPenalties73' | translate }}<br>
                                                {{ 'afsRARPenalties74' | translate }}<br>
                                                {{ 'afsRARPenalties75' | translate }}
                                              
                                            </div>
                                        </div>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix5" aria-expanded="true" aria-controls="collapseSix5">
                {{ 'afsRARChipTitle1' | translate }}
            </button>
        </h2>
        <div id="collapseSix5" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>{{ 'afsRARchip1' | translate }}</p>
                <ul>
                    <li>{{ 'afsRARchip2' | translate }}</li>
                    <li>  {{ 'afsRARchip3' | translate }}</li>
                    <li>{{ 'afsRARchip4' | translate }} </li>
                    <li>{{ 'afsRARchip5' | translate }}</li>
                    <li>{{ 'afsRARchip6' | translate }}</li>
                </ul>
                <p>{{ 'afsRARchip7' | translate }}</p>
                <ul>
                    <li>{{ 'afsRARchip8' | translate }}</li>
                    <li>{{ 'afsRARchip9' | translate }}</li>
                    <li>{{ 'afsRARchip10' | translate }}</li>
                    <li>{{ 'afsRARchip11' | translate }}</li>
                    <li>{{ 'afsRARchip12' | translate }}</li>
                    <li>{{ 'afsRARchip13' | translate }}</li>
                    <li>{{ 'afsRARchip14' | translate }}</li>
                </ul>
                <p> <li>{{ 'afsRARchip15' | translate }}</li></p>
                <ul>
                    <li>{{ 'afsRARchip16' | translate }} </li>
                    <li> {{ 'afsRARchip17' | translate }}</li>
                    <li>{{ 'afsRARchip18' | translate }} </li>
                    <li>{{ 'afsRARchip19' | translate }}</li>
                    <li>{{ 'afsRARchip20' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix6" aria-expanded="true" aria-controls="collapseSix6">
            {{ 'afsRARPennieTitle1' | translate }}
            </button>
        </h2>
        <div id="collapseSix6" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>{{ 'afsRARPennie1' | translate }} </li>
                    <li>{{ ('afsRARPennie2' |translate) + ' '}} <a target="_blank" href=" https://pennie.com/"> {{ 'afsRARPennie3' | translate }} </a> {{ 'afsRARPennie4' | translate }} <a href="tel:844-844-8040">{{ 'afsRARPennie6' | translate }}</a> {{ 'afsRARPennie5' | translate }}</li>
                    <li>{{ ('afsRARPennie7' |translate) + ' '}} <a target="_blank" href="http://www.healthcare.gov"> {{ 'afsRARPennie8' | translate }}</a> {{ 'afsRARPennie9' | translate }} <a href="tel: 800-318-2596">{{ 'afsRARPennie10' | translate }}</a> {{ 'afsRARPennie11' | translate }}</li>

                    <li>{{ ('afsRARPennie12' |translate) + ' '}}<a target="_blank" href="https://www.hhs.gov/">{{ 'afsRARPennie13' | translate }}</a>.
                    </li>
                    <li>{{ 'afsRARPennie14' | translate }}</li>
                    <li>{{ 'afsRARPennie15' | translate }}</li>
                    <li><b>{{ 'afsRARPennie16' | translate }} </b>{{ 'afsRARPennie17' | translate }}</li>
                    <li>{{ 'afsRARPennie18' | translate }}</li>
                    <li>{{ 'afsRARPennie19' | translate }}</li>
                    <li>{{ 'afsRARPennie20' | translate }}</li>
                    <li>{{ 'afsRARPennie21' | translate }}</li>
                    <li>{{ 'afsRARPennie22' | translate }}</li>
                    <li>{{ 'afsRARPennie23' | translate }}</li>
                    <li>{{ 'afsRARPennie24' | translate }}</li>
                    <li>{{ 'afsRARPennie25' | translate }}</li>
                    <li>{{ 'afsRARPennie26' | translate }} </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix7" aria-expanded="true" aria-controls="collapseSix7">
                {{ 'afsRARahcpTitle1' | translate }}
            </button>
        </h2>
        <div id="collapseSix7" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li> {{ 'afsRARahcp1' | translate }} </li>
                    <li>{{ 'afsRARahcp2' | translate }}</li>
                    <li>{{ 'afsRARahcp3' | translate }}</li>
                    <li>{{ 'afsRARahcp4' | translate }}  </li>
                    <li>{{ 'afsRARahcp5' | translate }}</li>
                    <li>{{ 'afsRARahcp6' | translate }}</li>
                    <li>{{ 'afsRARahcp7' | translate }}</li>
                    <li>{{ 'afsRARahcp8' | translate }}</li>
                    <li>{{ 'afsRARahcp9' | translate }}</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix8" aria-expanded="true" aria-controls="collapseSix8">
                {{ 'afsRARsnapTitle1' | translate }}
            </button>
        </h2>
        <div id="collapseSix8" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>{{ 'afsRARsnap1' | translate }}</li>
                    <li>{{ 'afsRARsnap2' | translate }}</li>
                    <li>{{ 'afsRARsnap3' | translate }}</li>

                </ul>
                <p>{{ 'afsRARsnap4' | translate }}</p>

                <p>{{ ('afsRARsnap5' |translate) + ' '}}
                    <a href="tel:202-720-2600">{{ 'afsRARsnap6' | translate }}</a> {{ ('afsRARsnap7' |translate) + ' '}} <a href="tel:800-877-8339">{{ 'afsRARsnap8' | translate }}</a>
                </p>
                <p>
                    {{ 'afsRARsnap9' | translate }}

                </p>
                <ul>
                    <li>{{ 'afsRARsnap10' | translate }}</li>
                    <li>{{ ('afsRARsnap11' |translate) + ' '}} <a href="tel:866-632-9992">{{ 'afsRARsnap12' | translate }}</a></li>
                    <li>{{ 'afsRARsnap13' | translate }}</li>

                </ul>
                <p>
                    {{ 'afsRARsnap14' | translate }}<br>
                {{ 'afsRARsnap15' | translate }}<br>
                    {{ 'afsRARsnap16' | translate }}<br>
                    {{ 'afsRARsnap17' | translate }}<br>
                {{ 'afsRARsnap18' | translate }}<br>
                    {{ 'afsRARsnap19' | translate }} <br>

                    {{ 'afsRARsnap20' | translate }}<br>
                    <a href="tel:833-256-1665">{{ 'afsRARsnap21' | translate }}</a> {{ 'afsRARsnap22' | translate }} <a href="tel:202-690-7442">{{ 'afsRARsnap23' | translate }}</a> <br>

                </p>
                    <address> {{ 'afsRARsnap24' | translate }} <br> <a href="mailto:Program.Intake@usda.gov">{{ 'afsRARsnap25' | translate }}
</a></address> <br>
                    {{ 'afsRARsnap26' | translate }}
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix9" aria-expanded="true" aria-controls="collapseSix9">
            {{ 'afsRARltcahacbsTitle' | translate }}

            </button>
        </h2>
        <div id="collapseSix9" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>{{ 'afsRARltcahacbs1' | translate }}</li>
                    <li>{{ 'afsRARltcahacbs2' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix91" aria-expanded="true" aria-controls="collapseSix91">
                {{ 'afsRARliheapTitle' | translate }}
            </button>
        </h2>
        <div id="collapseSix91" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>{{ 'afsRARliheap1' | translate }}</li>
                    <li>{{ 'afsRARliheap2' | translate }}</li>
                    <li>{{ 'afsRARliheap3' | translate }}</li>
                    <li>{{ 'afsRARliheap4' | translate }}</li>
                    <li>{{ 'afsRARliheap5' | translate }}</li>
                    <li>{{ 'afsRARliheap6' | translate }}</li>
                    <li>{{ 'afsRARliheap7' | translate }}</li>
                    <li>{{ 'afsRARliheap8' | translate }}</li>
                    <li>{{ 'afsRARliheap9' | translate }}</li>
                    <li>{{ 'afsRARliheap10' | translate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix98" aria-expanded="true" aria-controls="collapseSix98">
            {{ 'afsRARLIHWAPTitle' | translate }}
            </button>
        </h2>
        <div id="collapseSix98" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>{{ 'afsRARLIHWAP1' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP2' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP3' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP4' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP5' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP6' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP7' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP8' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP9' | translate }}</li>
                    <li>{{ 'afsRARLIHWAP10' | translate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix92" aria-expanded="true" aria-controls="collapseSix92">
                {{ 'afsRARfrpsmTitle' | translate }}
            </button>
        </h2>
        <div id="collapseSix92" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>{{ 'afsRARfrpsm1' | translate }}</li>
                    <li>{{ 'afsRARfrpsm2' | translate }}</li>
                    <li>{{ 'afsRARfrpsm3' | translate }}</li>
                    <li>{{ 'afsRARfrpsm4' | translate }}
                    </li>
                    <li>{{ 'afsRARfrpsm5' | translate }}</li>
                    <li>{{ 'afsRARfrpsm6' | translate }}.</li>
                    <li>{{ 'afsRARfrpsm7' | translate }}</li>
                    <li>{{ 'afsRARfrpsm8' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix93" aria-expanded="true" aria-controls="collapseSix93">
                {{ 'afsRARhwpccTitle' | translate }}
            </button>
        </h2>
        <div id="collapseSix93" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p> {{ 'afsRARhwpcc1' | translate }}</p>
                <ul>
                    <li>{{ 'afsRARhwpcc2' | translate }}</li>
                    <li>{{ 'afsRARhwpcc3' | translate }}</li>
                    <li>{{ 'afsRARhwpcc4' | translate }}</li>
                    <li>{{ 'afsRARhwpcc5' | translate }}</li>
                    <li>{{ 'afsRARhwpcc6' | translate }}
                        <ul>
                            <li>{{ 'afsRARhwpcc7' | translate }} <b> {{ 'afsRARhwpcc8' | translate }}</b>{{ 'afsRARhwpcc9' | translate }}
                                <p>{{ 'afsRARhwpcc10' | translate }}</p>
                            </li>
                            <li>{{ 'afsRARhwpcc11' | translate }}</li>
                            <li>{{ 'afsRARhwpcc12' | translate }}</li>
                            <li>{{ 'afsRARhwpcc13' | translate }}</li>
                        </ul>
                    </li>
                    <li>{{ 'afsRARhwpcc14' | translate }}</li>
                    <ul>
                        <li>{{ 'afsRARhwpcc15' | translate }}</li>
                        <li>{{ 'afsRARhwpcc16' | translate }}</li>
                        <li>{{ 'afsRARhwpcc17' | translate }}</li>
                        <li>{{ 'afsRARhwpcc18' | translate }}/li>
                    </ul>
                </ul>
                <p>{{ 'afsRARhwpcc19' | translate }}</p>
                <ul>
                    <ol>1. <b>{{ 'afsRARhwpcc20' | translate }}</b> {{ 'afsRARhwpcc21' | translate }}</ol>
                    <ol>{{ 'afsRARhwpcc22' | translate }}
                        <b>{{ 'afsRARhwpcc23' | translate }}</b>
                    {{ 'afsRARhwpcc24' | translate }}</ol>
                    <ol>{{ 'afsRARhwpcc25' | translate }}<br>

                      <b>{{ 'afsRARhwpcc26' | translate }}</b>
                        {{ 'afsRARhwpcc27' | translate }}
                    </ol>
                    <ol>{{ 'afsRARhwpcc28' | translate }}<b>{{ 'afsRARhwpcc29' | translate }}</b> {{ 'afsRARhwpcc30' | translate }}</ol>
                    <ol>{{ 'afsRARhwpcc31' | translate }} <b>{{ 'afsRARhwpcc32' | translate }}</b></ol>
                   {{ 'afsRARhwpcc33' | translate }}<br>
                
                {{ 'afsRARhwpcc34' | translate }}<br>
                
                {{ 'afsRARhwpcc35' | translate }}
                    <ol>{{ 'afsRARhwpcc36' | translate }}<b>{{ 'afsRARhwpcc37' | translate }}</b> {{ 'afsRARhwpcc38' | translate }}<b>{{ 'afsRARhwpcc39' | translate }}</b> 
                        <ul>
                            <li>{{ 'afsRARhwpcc40' | translate }}</li>
                            <li>{{ 'afsRARhwpcc41' | translate }}</li>
                            <li>{{ 'afsRARhwpcc42' | translate }}</li>
                            <li>{{ 'afsRARhwpcc43' | translate }}</li>
                        </ul>
                    </ol>
                </ul>
                <p>{{ 'afsRARhwpcc44' | translate }}</p>
            </div>
        </div>
    </div>
</div>
<div class="accordion page-tip standard-mb" id="accordionExample">
    <div class="accordion-title">

        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix94" aria-expanded="true" aria-controls="collapseSix94">
                {{ 'afsRARpeTitle1' | translate }}
            </button>
        </h2>
        <div id="collapseSix94" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h2>{{ 'afsRARpeTitle2' | translate }}</h2>
                <p>{{ 'afsRARpe1' | translate }}</p>
                <ul>
                    <li>{{ 'afsRARpe2' | translate }}</li>
                    <li>{{ 'afsRARpe3' | translate }}</li>
                    <li>{{ 'afsRARpe4' | translate }}</li>
                    <li>{{ 'afsRARpe5' | translate }}</li>
                    <li>{{ 'afsRARpe6' | translate }}</li>
                    <li>{{ 'afsRARpe7' | translate }}</li>
                    <li>{{ 'afsRARpe8' | translate }}</li>
                    <li>{{ 'afsRARpe9' | translate }}</li>
                    <li>{{ 'afsRARpe10' | translate }}</li>
                </ul>
                <h2>{{ 'afsRARpeTitle3' | translate }}</h2>
                <p>{{ 'afsRARpe1' | translate }}</p>
                <ul>
                    <li>{{ 'afsRARpe11' | translate }}</li>
                    <li>{{ 'afsRARpe12' | translate }}</li>
                    <li>{{ 'afsRARpe13' | translate }}</li>
                    <li>{{ 'afsRARpe14' | translate }}</li>
                    <li>{{ 'afsRARpe15' | translate }}</li>
                    <li>{{ 'afsRARpe16' | translate }}</li>
                    <li>{{ 'afsRARpe17' | translate }}</li>
                    <li>{{ 'afsRARpe18' | translate }}</li>
                    <li>{{ 'afsRARpe19' | translate }}</li>
                    <li>{{ 'afsRARpe20' | translate }}</li>
                    <li>{{ 'afsRARpe21' | translate }}</li>
                    <li>{{ 'afsRARpe22' | translate }}</li>
                </ul>
                <p>{{ 'afsRARpe23' | translate }}</p>
            </div>
        </div>
    </div>
</div>
<cw-field-error-display [displayError]="displayError" [errorMsg]="error"></cw-field-error-display>
<div class="standard-mb" *ngIf = "!showPrintButton">
    <compass-ui-cw-checkbox
        label="{{ 'afsRARTitle4' | translate }}"
        [textStyle]="'borderless-check'" [formGroup]="reviewForm"
        [isChecked]="termsChecked ? termsChecked : false"
        [id]="'checkTerms'" (inputModelChange)="checkTerms($event)">
    </compass-ui-cw-checkbox>
</div>
<compass-ui-cw-button [textStyle]="'btn btn-secondary'" buttonLabel="{{ 'afsRARPrint' | translate }}"
    (click)="print()" *ngIf = "showPrintButton">
</compass-ui-cw-button>
<compass-ui-cw-dpq-button backButtonLabel=" {{'backBtnText'| translate}}" nextButtonLabel="{{'nextBtnText'| translate}}"
    (next)="onNext()" (back)="onBack()">
</compass-ui-cw-dpq-button>

<div class="modal fade show" style="display:block" [hidden]="!loading" id="loadingModal" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true" #loadingModal>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2>Loading...</h2>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>
    </div>
</div>

