<ng-container *ngIf="referrals">
  <!-- <div>Data {{phoneNumbers$|async|json }}</div> -->

    <div class="container page-content">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-4 col-xxl-3 col-xxxl-3">
                <div class="wayfinder">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8">
                            <compass-ui-menu [menuData]="referrals.menu ?? null"></compass-ui-menu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 mt-lg-5 col-12 col-md-9 offset-lg-1 col-lg-7 col-xl-6 col-xxl-6 col-xxxl-5 mb-5">
                <div class="row" [ngSwitch]="route">
                    <router-outlet></router-outlet> 
                </div>
                <compass-ui-button-navigation></compass-ui-button-navigation>
            </div>
        </div>
    </div>
</ng-container>