<div class="p-4">
    <h1 *ngIf="isFirstPerson">{{'diqbasictitle' | translate}}</h1>
    <h1 *ngIf="!isFirstPerson">{{'diqaddperson' | translate}}</h1>
    <form [formGroup]="basicDetailsGroup">
    <div class="mb-3">
        <compass-ui-text ngDefaultControl [FormGroup]="basicDetailsGroup" [fieldId]="'firstName'" requiredText="{{'lblrequired' | translate}}" [formControlName]="'firstName'"  fieldLabel="{{'lblFirstName' | translate}}"
            [requiredIndicator]="true" errorText="{{'basidDetailRequiredMessage' | translate}}"
            [displayError]="isFieldValid('firstName')" [maxLength]="11" [fieldType]="'nameType'"
            >
        </compass-ui-text>
    </div>
    <div class="mb-3">
    <compass-ui-text ngDefaultControl [FormGroup]="basicDetailsGroup" [fieldId]="'lastName'" requiredText="{{'lblrequired' | translate}}" [formControlName]="'lastName'" fieldLabel="{{ 'lblLastName' | translate}}"
        [requiredIndicator]="true" errorText="{{'basidDetailRequiredMessage' | translate}}"
         [displayError]="isFieldValid('lastName')" [maxLength]="14" [fieldType]="'nameType'"
        >
    </compass-ui-text>
    </div>
    <div class="mb-3">
        <compass-ui-cw-datepicker [maxRange]="maxDateRange" ngDefaultControl label="{{'lbldob' | translate }}" requiredText="{{'lblrequired' | translate}}" [formControlName]="'dob'" [required]="true"
     [displayError]="isFieldValid('dob')" [showError]="isFieldValid('dob')" [errorMsg]="errorMap('dob') | translate"

        ></compass-ui-cw-datepicker>

        </div>
        <div class="mb-3">
            <fieldset class="button-group">
                <legend>{{'lblsex' | translate }}<span>{{'lblrequired' | translate}}</span></legend>
        <compass-ui-cw-radiobutton ngDefaultControl (inputModelChange)="changeGender($event,'M')" [formControlName]="'gender'" [required]="true" [radioButtonGroupName]="'gender'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" radioLabel="{{'genderlblmale'| translate}}">
        </compass-ui-cw-radiobutton>
        <compass-ui-cw-radiobutton ngDefaultControl (inputModelChange)="changeGender($event,'F')" [formControlName]="'gender'" [required]="true" [radioButtonGroupName]="'gender'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" radioLabel="{{'genderlblfemale'| translate}}">
        </compass-ui-cw-radiobutton>
    </fieldset>
    <div *ngIf="genderError" class="error-text"><i class="fa-regular fa-circle-exclamation"></i>
        {{'basidDetailRequiredMessage' | translate}}</div>
    </div>


      <div class="mb-3" >

        <div  formArrayName="memberRelationships">
          <div class="col-12" *ngFor="let memberRelationship of memberRelationshipFormGroup.controls; let i = index;">
            <div [formGroupName]="i" class="row">
             <div class="form-group pt-3">
                <label  class="form-label">

                  {{'Relationship to '+basicDetails_relations[i].firstName+' '+basicDetails_relations[i].lastName}}
                  <span
                  class="ml-1">(required)</span></label>

                <select class="form-control" name="'relation'+basicDetails_relations[i].id" id="'test'" formControlName="{{basicDetails_relations[i].id}}" type="text">
                  <option value="" selected>- Select One -</option>
                  <option *ngFor="let relation of relationships" value="{{relation.id}}">{{relation.displayValue}}</option>
                </select>

                <span class="text-danger" *ngIf="getmemberRelationshipsFormGroup(i).controls[basicDetails_relations[i].id].touched && getmemberRelationshipsFormGroup(i).controls[basicDetails_relations[i].id].hasError('required')">
                    Relationship with  {{basicDetails_relations[i].firstName}} {{basicDetails_relations[i].lastName}}  is required! </span>

              </div>

            </div>
          </div>

        </div>
      </div>
<compass-ui-cw-dpq-button backButtonLabel=" {{'backBtnText'| translate}}" nextButtonLabel="{{'nextBtnText'| translate}}"
    (next)="next()" (back)="back()">
</compass-ui-cw-dpq-button>

    <!-- </form> -->


