<div class="other-resources">
    <div class="text-center icn-div">
        <i class="fa-regular fa-messages-question"></i>
    </div>
    <h3 class="h2 text-center">
        {{'lblFAQ' | translate}}
    </h3>
    <ul class="text-center">
        <li><a href="www.google.com"> {{'faqLink1' | translate}}</a></li>
        <li><a href="www.google.com"> {{'faqLink2' | translate}}</a></li>
        <li><a href="www.google.com"> {{'faqLink3' | translate}}</a></li>
        <li><a href="www.google.com"> {{'faqLink4' | translate}}</a></li>
    </ul>
    <div class="text-center">
        <compass-ui-cw-button textStyle="btn btn-secondary" buttonLabel="{{'seeAllFaqBtn' | translate}}">
        </compass-ui-cw-button>
    </div>
</div>