<div class="col-12 col-md-10 offset-md-1">
    <div class="row">
        <div class="col text-center">
            <h1>{{ 'afsGSbeginTitle' | translate }}</h1>
            <h2 class="subtitle">{{ 'afsGSbeginText1' | translate }}</h2>
            <img src="./assets/img/gsgsd-getting-started-1.svg" class="img-fluid page-illustration" alt="">
            <h3>{{ 'afsGSbeginText2' | translate }}</h3>
            <div class="accordion page-tip text-start" id="accordionExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="getStartAccHead">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#getStartAccColl" aria-expanded="true" aria-controls="getStartAccColl">
                            {{ 'afsGSbeginText3' | translate }}
                        </button>
                    </h3>
                    <div id="getStartAccColl" class="accordion-collapse collapse" aria-labelledby="getStartAccHead"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <hr>
                            <p>{{ 'afsGSbeginText4' | translate }}</p>
                            <ul>
                                <li>{{ 'afsGSbeginBullet1' | translate }}</li>
                                <li>{{ 'afsGSbeginBullet2' | translate }}</li>
                                <li>{{ 'afsGSbeginBullet3' | translate }}</li>
                                <li>{{ 'afsGSbeginBullet4' | translate }}</li>
                                <li>{{ 'afsGSbeginBullet5' | translate }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <hr class="skinny">
            <img src="./assets/img/gsgsd-getting-started-2.svg" class="img-fluid page-illustration" alt="">
            <h3>{{ 'afsGSbeginText5' | translate }}</h3>
            <hr class="skinny">
            <img src="./assets/img/gsgsd-getting-started-3.svg" class="img-fluid page-illustration" alt="">
            <h3>{{ 'afsGSbeginText6' | translate}}</h3>
            <hr class="skinny">
            <p class=" fw-bold">{{ 'afsGSbeginText7' | translate}}</p>
            <p>{{ 'afsGSbeginText8' | translate}}<span class="fw-bold">{{' ' + ('afsGSbeginText9' | translate)}}</span></p>
            <nav class="action-bar d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-outline-tertiary" (click)="back()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" (click)="next()">
                        {{ 'afsGSbeginGS' | translate }}
                    </button>
                </div>
            </nav>
        </div>
    </div>
</div>