<form [formGroup]="householdRecordNoForm">
    <h1>You told us someone applied for benefits with a different name or Social Security number. If you know it, what
        is your
        county or record number?</h1>
    <div class="mb-3">
        <compass-ui-text [fieldId]="'recordNo'" [FormGroup]="householdRecordNoForm"
          [displayError]="isFieldInvalid('recordNo')"
          [errorText]="errorMap('recordNo') | translate" [fieldType]="'numbersOnly'" [maxLength]="9">
        </compass-ui-text>
      </div>
    <div class="alert alert-info mt-3">
        <dl class="text-left">
            Enter your County/Record number in this format: XXXXXXXXX (with no slashes or special characters).
            <ul>
                The County/Record number may also be called:
                <li>Record ID</li>
                <li>Record Number</li>
                <li>Case Number</li>
            </ul>
        </dl>
    </div>
    <div class="row action-bar">
        <div class="col">
            <button type="button" class="btn btn-outline-tertiary" (click)="goBack()">
                Back
            </button>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" (click)="goNext()">
                Next
            </button>
        </div>
    </div>
</form>