<h1>{{ 'sa_registerCUPtitle' | translate }}</h1>
<form [formGroup]="registerCreateUserGroup">
  <div class="alert alert-info">
    <p>{{ 'sa_registerCUPtext1' | translate }}</p>
    <ul>
      <li>{{ 'sa_registerCUPbullet1' | translate }}</li>
      <li>{{ 'sa_registerCUPbullet2' | translate}}</li>
      <li>{{ 'sa_registerCUPbullet3' | translate}}</li>
      <li>{{ 'sa_registerCUPbullet4' | translate}}</li>
      <li>{{ 'sa_registerCUPbullet5' | translate}}</li>
    </ul>
  </div>

  <div class="mb-3">
    <compass-ui-text [fieldId]="'username'" [FormGroup]="registerCreateUserGroup"
      [fieldLabel]="'sa_registerCUPlbl1' | translate" [requiredText]="'lblrequired' | translate"
      [requiredIndicator]="true" [displayError]="isFieldInvalid('username')"
      [errorText]="errorMap('username') | translate: { minLength: usernameMinL, maxLength: usernameMaxL}" 
      [maxLength]="usernameMaxL">
    </compass-ui-text>
  </div>

  <p>{{ 'sa_registerCUPtext2' | translate}}</p>
  <ul>
    <li>{{ 'sa_registerCUPbullet6' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet7' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet8' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet9' | translate}}</li>
  </ul>

  <div class="mb-3">
    <compass-ui-cw-checkbox id="emailUserId" [label]="'sa_registerCUPlbl3' | translate"
      (inputModelChange)="checkboxEmailUserIdChange($event.checked)">
    </compass-ui-cw-checkbox>
  </div>

  <div class="mb-3">
    <compass-ui-password [passwordfieldId]="'password'" [FormGroup]="registerCreateUserGroup"
      [label]="'sa_registerCUPlbl2' | translate" [requiredText]="'lblrequired' | translate" [requiredIndicator]="true"
      [displayError]="isFieldInvalid('password')" [errorText]="errorMap('password') | translate:{ minLength: passwordMinL}"
      [maxLength]="passwordMaxL">
    </compass-ui-password>
  </div>

  <p class="fw-bold">{{ 'sa_registerCUPtext4' | translate}}</p>
  <ul>
    <li>{{ 'sa_registerCUPbullet10' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet11' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet12' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet13' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet14' | translate}}</li>
  </ul>

  <p class="fw-bold">{{ 'sa_registerCUPtext3' | translate}}</p>
  <ul>
    <li>{{ 'sa_registerCUPbullet15' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet16' | translate}}</li>
    <li>{{ 'sa_registerCUPbullet17' | translate}}</li>
  </ul>

  <div class="mb-3">
    <compass-ui-password [passwordfieldId]="'confirmPassword'" [FormGroup]="registerCreateUserGroup"
      [label]="'sa_registerCUPlbl4' | translate" [requiredText]="'lblrequired' | translate" [requiredIndicator]="true"
      [displayError]="isFieldInvalid('confirmPassword')" [errorText]="errorMap('confirmPassword') | translate:{ minLength: confirmPasswordMinL}"
      [maxLength]="confirmPasswordMaxL">
    </compass-ui-password>
  </div>

  <compass-ui-cw-dpq-button backButtonLabel="{{'back'| translate}}" nextButtonLabel="{{'next'| translate}}"
    (back)="back()" (next)="next()">
  </compass-ui-cw-dpq-button>
  <br />
  <p class="text-center"><a class="hyperlink" (click)="toLogin()">{{ 'sa_registerToLogin' | translate }}</a></p>

</form>