<div class="row" *ngIf="isLoading">
    <div class="col-12">
        <div class="loading-container">
            <div class="p-5">
                <p>{{loadingText}}</p>
            </div>
            <span class="loading">
                <i class="fa-regular fa-spinner fa-spin fa-7x"></i>
            </span>
        </div>

    </div>
</div>
<div *ngIf="!isLoading">
 
        <div class="row">
            <div class="col text-center">
        <i class="fa-regular fa-circle-check fa-7x"></i>
        <h1>{{'afsCompleteTitle' | translate}}</h1>
        </div>
        </div>
        <p>{{'referralreceiptText' | translate}}</p>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <p class="fw-bold">{{'referralreferenceNum' | translate}} </p>
                        <p class="fw-bold">{{finalresponse?.referralNumber}}</p>
                         
                    </div>
                </div>
            </div>
               
        </div>
        <div > 
            <div class="card mb-3" *ngIf="services.indexOf('EI') > -1">
                <div class="card-body">
                    <div class="text-center">
                        <img src="./assets/img/receipt-comp-img-2.jpg" class="img-fluid" alt="Getting Started Img 3">
                    </div>
                    <h2 class="accordion-header text-center">{{'referralInterventionServices' | translate}}</h2>
                    <p>{{'referralbenefitsEA' | translate}}</p>
                    <div *ngFor="let eachIndividual of individuals">
                        <h2 class="accordion-header" *ngIf="(eachIndividual.appliedReferrals || []).indexOf('EI') > -1">
                            {{eachIndividual.firstName}} {{eachIndividual.lastName}}</h2>
                    </div>
                    <p>{{'referralbenefitsEAText' | translate}}</p>
                    <p>{{'referralbenefitsEAText1' | translate}}  <span class="fw-bold">1-800-692-7288</span></p>
            
            
            
            
                </div>
            </div>
        <div class="card mb-3" *ngIf="services.indexOf('ID') > -1">
            <div class="card-body">
                <div class="text-center">
                    <img src="./assets/img/receipt-comp-img-2.jpg" class="img-fluid" alt="Getting Started Img 3">  
                </div>
                <h2 class="accordion-header text-center">{{'referralIntellectualDisability' | translate}}</h2>
                <p>{{'referralIntellectualDisabilityText' | translate}}</p>
                <div *ngFor="let eachIndividual of individuals">
                <h2 class="accordion-header"  *ngIf="(eachIndividual.appliedReferrals || []).indexOf('ID') > -1">
                    {{eachIndividual.firstName}} {{eachIndividual.lastName}}</h2>
                </div>
                <p>{{'referralIntellectualDisabilityText1' | translate}}</p>
                 
                   <p>{{'referralText3' | translate}}</p>
                   <h2 class="accordion-header"  *ngFor="let eachIndividual of individuals">
                       <span *ngIf="(eachIndividual.appliedReferrals || []).indexOf('ID') > -1">{{getCountiesName(eachIndividual?.county)}} <p>{{getPhoneNumbers(eachIndividual?.county)}}</p></span></h2>
                      <!-- <p  *ngFor="let eachIndividual of individuals">{{getPhoneNumbers(eachIndividual?.county)}}</p> -->
                      <p><a target="_blank" href="https://www.dhs.pa.gov/Services/Disabilities-Aging/Pages/Intellectual-Disabilities-Services.aspx">
                    {{'referralText4' | translate}}</a></p>
                
            </div>
        </div>
        
        <div class="card mb-3"  *ngIf="services.indexOf('AS') > -1">
            <div class="card-body">
                <div class="text-center">
                    <img src="./assets/img/receipt-comp-img-2.jpg" class="img-fluid" alt="Getting Started Img 3">
                </div>
                <h2 class="accordion-header text-center">{{'referralAdult' | translate}}</h2>
                <p>{{'referralAdultText1' | translate}}</p>
                <div *ngFor="let eachIndividual of individuals"> 
                <h2 class="accordion-header" *ngIf="(eachIndividual.appliedReferrals || []).indexOf('AS') > -1">{{eachIndividual.firstName}} {{eachIndividual.lastName}}</h2>
                </div>
                <p>{{'referralAdultText2' | translate}}</p>
                
                 <p>{{'referralAdultText3' | translate}}</p>
                <p class="mb-2"><a href="http://www.autisminpa.org/" target="_blank">{{'referralAutismLink' | translate}}</a></p>
                <p class="mb-2"><a href="https://paautism.org/" target="_blank">{{'referralAutismLink1' | translate}}</a></p>
        
                
        
            </div>
        </div>
    </div>
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="./assets/img/global-needmorehelp.svg"   class="img-fluid" alt="Placeholder Image" />
                    <!-- <img src="../../../assets/img/receipt-comp-img1.jpg" class="img-fluid" alt="Getting Started Img 3">   -->
                </div>
                <h2 class="accordion-header text-center">{{'diqNeedHelpText' | translate}}</h2>
                <p class="mb-1">{{'referralNeedHelp' | translate}}</p>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" (click)="getStarted()">{{'afsGSbeginGS' | translate}}</button>

                    </div>
                </div> 
            </div>
        </div>
        <hr>
        <div class="text-center" >
            <button type="button" class="btn btn-outline-tertiary" (click)="back()">
            {{'afsNotEligibleGoBack' | translate}}  
            </button>
        </div>
    </div>