<div class="homepage">
    <div class="bg-white">
        <div class="container">
            <h2 class="h1 text-md-center">{{'lblHelpHeader' | translate}}</h2>
            <div class="row mb-3">
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits1-healthcare.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>{{'benefitsTilte1' | translate}}</h3>
                            <p>{{'benefitsContext1' | translate}}</p>
                            <a href="http://www.healthchoices.pa.gov" target="_blank">{{'benefitsAnchorText1' |
                                translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits2-foodassistance.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>{{'benefitsTilte2' | translate}}</h3>
                            <p>{{'benefitsContext2' | translate}}</p>
                            <a href="https://www.dhs.pa.gov/Services/Assistance/Pages/SNAP.aspx" target="_blank">
                                {{'benefitsAnchorText2' | translate}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits3-cashassistance.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>{{'benefitsTilte3' | translate}}</h3>
                            <p>{{'benefitsContext3' | translate}}</p>
                            <a href="https://www.dhs.pa.gov/Services/Assistance/Pages/Cash-Assistance.aspx"
                                target="_blank">{{'benefitsAnchorText3' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="./assets/images/scsum-summary-benefits4-childcare.svg" alt="healthcare image"
                                class="image-fluid" />
                            <h3>{{'benefitsTilte4' | translate}}</h3>
                            <p>{{'benefitsContext4' | translate}}</p>
                            <a href="https://www.dhs.pa.gov/Services/Children/Pages/Child-Care-Works-Program.aspx"
                                target="_blank">{{'benefitsAnchorText4' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <compass-ui-cw-button textStyle="btn btn-secondary" buttonLabel="{{'viewBenefitsBtn' | translate}}">
                </compass-ui-cw-button>
            </div>
        </div>
    </div>
</div>