<!--
<button type="button" class="btn btn-outline-tertiary"  [routerLink]="['mybenefit']">My Benefit</button>
<button type="button" class="btn btn-outline-tertiary">Report Changes</button>

-->

<h1>Welcome To MCA</h1>
<h3>Login</h3>
<form action="dashboard">
<table width="345" border="1" bgcolor="#99CC00">

  <tr>

    <th height="34">Enter your username</th>

    <td><input type="email"/></td>

  </tr>

  <tr>

    <th height="33">Enter your passowrd</th>

    <td><input type="password"/></td>

  </tr>

  <tr>

    <th height="39" colspan="2"><input type="submit"  value="SignIn"/>

      <a href="/dashboard">SignUp</a></th>

  </tr>

</table>
</form>
