<div class="row m-0">
    <div class="mt-4 mt-lg-5 col-12 col-md-10 col-lg-6 col-xxxl-5 mb-5 offset-md-1 offset-lg-3">
        <h1 class="text-md-center">We have two ways to get started.</h1>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="./assets/img/gsgsd-getting-started-1.svg" class="img-fluid page-illustration" alt="">
                </div>
                <h2 class="text-center">See if you Qualify</h2>
                <p>
                    You can fill in some questions to see if you qualify for any benefits.
                </p>
                <p class="fw-bold">With this options, you can:</p>
                <ul class="fw-bold">
                    <li>
                        Quickly see what you might qualify for
                    </li>
                    <li>
                        See programs from other agencies you may qualify for
                    </li>
                </ul>
            </div>
        </div>
        <hr class="skinny" />
        <div class="row mb-3">
            <div class="col">
                <div class="text-center">
                    <img src="./assets/img/gsgsd-getting-started-2.svg" class="img-fluid page-illustration" alt="">    
                </div>
                <h2 class="text-center">Apply for Benefits Now</h2>
                <p>
                    You can also start your full application. This
                    will take some time to complete.
                </p>
                <p class="fw-bold">
                    With this options, you can:
                </p>
                <ul class="fw-bold">
                    <li>Easily apply for the benefits you need with one application</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <button type="button" class="btn btn-outline-tertiary w-100 mb-3" (click)="doIQualify()">See If you
                Qualify</button>
                <button type="button" class="btn btn-secondary w-100 d-block" (click)="applyNow()">Apply now</button>
            </div>
        </div>
    </div>
</div>