        <h1>You may qualify for additional benefits.</h1>
        <p>
            From what you told us on this application, we think
            you and/or someone in your household may qualify for additional
            benefits.
        </p>
        <div class="card mb-3">
            <div class="card-body">
                <div class="text-center mb-2"><img src="../../../assets/img/receipt-comp-img-2.png" class="img-fluid" alt="" /></div>
                
                <h2 class="text-center">Other COMPASS Benefits</h2>
                <p>The following benefits can be added to your current application.</p>
                <ul class="icn-list">
                    <li class="icn-cart">
                        <h3 class="fw-bold">Food Assistance</h3>
                        <p>Supplemental Nutrition Assistance Program (SNAP)</p>
                        <a href="http://www.google.com">More Information About Food Assistance</a>
                    </li>
                    <li class="icn-apple">
                        <h3 class="fw-bold">Free or Reduced Price School Meals</h3>
                        <p>Provides low-cost or free school lunches to eligible children</p>
                        <a href="http://www.google.com">More Information About Free or Reduced Price School Meals</a>
                    </li>
                </ul>
                <div class="text-center"><button class="btn btn-secondary mb-3">Add Programs Now</button></div>
                <div class="alert alert-info d-flex align-items-center mb-0">
                    <p>If you wish to add these benefits, you may be asked additional questions.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-2"><img src="../../../assets/img/receipt-comp-img1.png" class="img-fluid" alt="" /></div>
                
                <h2 class="text-center">Need more help?</h2>
                <p>
                    Based on the answers you gave, one or more people in your household may
                    also qualify for the following benefits that are not available through
                    COMPASS.
                </p>
                <ul class="icn-list">
                    <li class="icn-med">
                        <h3 class="fw-bold">Medicare Program</h3>
                        <a href="http://www.google.com">More Information About Medicare Program</a>
                    </li>
                    <li class="icn-income">
                        <h3 class="fw-bold">Supplemental Security Income</h3>
                        <a href="http://www.google.com">More Information About Supplemental Security Income</a>
                    </li>
                    <li class="icn-mil">
                        <h3 class="fw-bold">Veterans Affairs</h3>
                        <a href="http://www.google.com">More Information About Veterans Affairs</a>
                    </li>
                </ul>
            </div>
        </div>