<div class="other-resources">
    <div class="text-center icn-div">
        <i class="fa-regular fa-link"></i>
    </div>
    <h3 class="h2 text-center">
        {{'ImpLinks' | translate}}
    </h3>
    <ul class="text-center">
        <li><a href="www.google.com">{{'impLink1' | translate}}</a></li>
        <li><a href="www.google.com">{{'impLink2' | translate}}</a></li>
        <li><a href="www.google.com">{{'impLink3' | translate}}</a></li>
        <li><a href="http://www.google.com">{{'impLink4' | translate}}</a></li>
    </ul>
    <div class="text-center">
        <compass-ui-cw-button textStyle="btn btn-secondary" buttonLabel="{{'SeeAllLinksBtn' | translate}}">
        </compass-ui-cw-button>
    </div>
</div>