<form [formGroup]="householdFoodStampForm">
    <h1>Tell us about the SNAP (Food Stamps) Representative.</h1>
    <div class="alert alert-info mt-3">
        <dl class="text-left">
            This person will also be able to use the benefits to buy food for you.
        </dl>
    </div>
    <compass-ui-text [fieldId]="'name'" [FormGroup]="householdFoodStampForm" [fieldLabel]="'Name'"
        [maxLength]="26" fieldType="absentNameType"> <!-- pattern="[#.0-9a-zA-Z\s,-]*" -->
    </compass-ui-text>

    <ng-container *ngIf="serviceSelected.includes('FS') || serviceSelected.includes('FSR')">
        <compass-ui-text [type]="'ssn'" [fieldId]="'ssn'" [FormGroup]="householdFoodStampForm" [fieldLabel]="'Social Security Number'"
            [displayError]="isFieldValid('ssn')" [errorMsg]="errorMap('ssn')" [maxLength]="9"
            [fieldHelpText]="'###-##-####'" (setValidator)="ssnValidator($event)" [minLength]="9"> <!-- pattern="[#.0-9a-zA-Z\s,-]*" -->
        </compass-ui-text>
    </ng-container>
    <compass-ui-text [fieldId]="'address'" [FormGroup]="householdFoodStampForm" [fieldLabel]="'Street Address'"
        [maxLength]="26" [displayError]="showError"
        fieldType="prevStreetType" [errorText]="'Street address can\'t start or end with #, /, -'"> <!-- pattern="[#.0-9a-zA-Z\s,-]*" -->
    </compass-ui-text>
    <compass-ui-text [fieldId]="'address2'" [FormGroup]="householdFoodStampForm" [fieldLabel]="'Street Address (2)'"
         [maxLength]="26" [displayError]="showError1"
        fieldType="prevStreetType" [errorText]="'Street address (2) can\'t start or end with #, /, -'"> <!-- pattern="[#.0-9a-zA-Z\s,-]*" -->
    </compass-ui-text>
    <compass-ui-text [fieldId]="'city'" [FormGroup]="householdFoodStampForm" [fieldLabel]="'City'"
         [maxLength]="16"
        fieldType="cityType">
    </compass-ui-text> <!-- pattern="[#.a-zA-Z\s,-]*" -->
    <compass-ui-cw-select [fieldId]="'state'" [fieldLabel]="'State'" [FormGroup]="householdFoodStampForm"
        >
        <option value="" selected>- Select One -</option>
        <option *ngFor="let state of states" value="{{state.id}}">{{state.displayValue}}</option>
    </compass-ui-cw-select>
    <compass-ui-text [fieldId]="'zip'" [FormGroup]="householdFoodStampForm" [fieldLabel]="'ZIP Code'"
        [displayError]="isFieldValid('zip')" [errorText]="'Please enter 5 digit zip code'"
        [maxLength]="5" fieldType="numberType">
    </compass-ui-text>
    <compass-ui-text [type]="'phone'" [fieldId]="'phoneNo'" [FormGroup]="householdFoodStampForm" [fieldLabel]="'Phone Number'"
        [maxLength]="10" [displayError]="isFieldValid('phoneNo')" [errorText]="'Please enter 10 digit phone number'" (keydown)="OnlyNumberAllowed($event, 'phoneNo')"
        [fieldHelpText]="'(XXX)XXX-XXXX'">
    </compass-ui-text>

    <div class="row action-bar">
        <div class="col">
            <button type="button" class="btn btn-outline-tertiary" (click)="goBack()">
                Back
            </button>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" (click)="goNext()">
                Next
            </button>
        </div>
    </div>

</form>