<div class="card-head mx-3 mt-3">
    <h1 class="mb-0">Let's review some information before we start.</h1>
</div>
<div class="card-body">
    <p>If you've already submitted a Crisis Request for this situation, do not submit another request.</p>
    <div class="col-12">
        <div class="alert alert-info d-flex align-items-center">
            <div>
                <p>If the situation has changed or you would like to know the status of the request, call the
                    <span class="fw-bold">Customer Service Center at 1-877-395-8930.</span>
                </p>
            </div>
        </div>
    </div>
</div>
<compass-ui-cw-dpq-button backButtonLabel=" {{'backBtnText'| translate}}" nextButtonLabel="{{'nextBtnText'| translate}}"
    (next)="onNext()" (back)="onBack()">
</compass-ui-cw-dpq-button>