<div class="homepage">
    <div class="bg-white">
        <div class="container ma-svs-container">
            <h2 class=" h1 text-start text-md-center">{{'lblhelpCenterHeader' | translate}}</h2>
            <p class="mb-4 text-start text-md-center">{{'helpCenterContext' | translate}}</p>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="ma-svcs">
                        <h3>{{'serviceTitle1' | translate}}</h3>
                        <a href="https://www.dhs.pa.gov/Services/Children/Pages/Early-Intervention%20Services.aspx"
                            target="_blank">{{'serviceAnchorText1' | translate}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="ma-svcs">
                        <h3>{{'serviceTitle2' | translate}}</h3>
                        <a href="https://www.dhs.pa.gov/Services/Disabilities-Aging/Pages/Intellectual-Disabilities-Services.aspx"
                            target="_blank">{{'serviceAnchorText2' | translate}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="ma-svcs">
                        <h3>{{'serviceTitle3' | translate}}</h3>
                        <a href="https://www.dhs.pa.gov/Services/Disabilities-Aging/Pages/Autism-Services.aspx"
                            target="_blank">{{'serviceAnchorText3' | translate}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 text-start text-lg-center">
                    <!-- <button class="btn btn-secondary" [routerLink]="['referrals']">Start Referral</button> -->
                    <compass-ui-cw-button textStyle="btn btn-secondary" buttonLabel="{{'startReferBtn' | translate}}">
                    </compass-ui-cw-button>
                </div>
            </div>
        </div>
    </div>
</div>