<form [formGroup]="newPasswordGroup">
  <h1>{{ 'sa_changepassNPtitle' | translate }}</h1>
  <div class="mb-3">
    <compass-ui-password [passwordfieldId]="'password'" [FormGroup]="newPasswordGroup"
      [label]="'sa_changepassNPlbl1' | translate" [requiredText]="'lblrequired' | translate" [requiredIndicator]="true"
      [displayError]="isFieldInvalid('password')" [errorText]="errorMap('password') | translate:{ minLength: passwordMinL}"
      [maxLength]="passwordMaxL">
    </compass-ui-password>
  </div>
  
  <p class="fw-bold">{{ 'sa_changepassNPtext1' | translate}}</p>
  <ul>
    <li>{{ 'sa_changepassNPbullet1' | translate}}</li>
    <li>{{ 'sa_changepassNPbullet2' | translate}}</li>
    <li>{{ 'sa_changepassNPbullet3' | translate}}</li>
    <li>{{ 'sa_changepassNPbullet4' | translate}}</li>
    <li>{{ 'sa_changepassNPbullet5' | translate}}</li>
  </ul>
  
  <p class="fw-bold">{{ 'sa_changepassNPtext2' | translate}}</p>
  <ul>
    <li>{{ 'sa_changepassNPbullet6' | translate}}</li>
    <li>{{ 'sa_changepassNPbullet7' | translate}}</li>
    <li>{{ 'sa_changepassNPbullet8' | translate}}</li>
  </ul>
  
  <div class="mb-3">
    <compass-ui-password [passwordfieldId]="'confirmPassword'" [FormGroup]="newPasswordGroup"
      [label]="'sa_changepassNPlbl2' | translate" [requiredText]="'lblrequired' | translate" [requiredIndicator]="true"
      [displayError]="isFieldInvalid('confirmPassword')" [errorText]="errorMap('confirmPassword') | translate:{ minLength: confirmPasswordMinL}"
      [maxLength]="confirmPasswordMaxL">
    </compass-ui-password>
  </div>
  
  <compass-ui-cw-dpq-button backButtonLabel="{{'cancel'| translate}}" nextButtonLabel="{{'submitLbl'| translate}}"
    (back)="cancel()" (next)="submit()">
  </compass-ui-cw-dpq-button>
</form>