<div class="homepage">
    <div class="bg-gray">
        <div class="container looking-resources">
            <h2 class="h1 text-center">
                {{'lblwhereToGoHeader' | translate}}
            </h2>
            <div class="row">
                <div class="col-12 col-lg-4 mb-5">
                    <div class="other-resources">
                        <div class="text-center icn-div">
                            <i class="fa-regular fa-house-heart"></i>
                        </div>
                        <h3 class="h2 text-center">
                            {{'resourcTitle1' | translate}}
                        </h3>
                        <ul class="text-center">
                            <li><a href="www.google.com">{{'refGuideText' | translate}}</a></li>
                            <li><a href="www.google.com">{{'comRefGuideText' | translate}}</a></li>
                        </ul>
                        <div class="text-center">
                            <compass-ui-cw-button textStyle="btn btn-secondary" buttonLabel="{{'SeeAllReBtn' | translate}}">
                            </compass-ui-cw-button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-5">
                    <compass-ui-application-sections></compass-ui-application-sections>
                </div>
                <div class="col-12 col-lg-4 mb-5">
                    <compass-ui-faq></compass-ui-faq>
                </div>
            </div>
        </div>
    </div>
</div>