<!-- <form>
    <fieldset class="button-group mb-3">
        <legend>Is Individual.FirstName currently eligible for coverage offered by this employer, or will they become eligible for coverage in the next 3 months?</legend>
        <compass-ui-cw-radiobutton ngDefaultControl
            
            [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'Yes'" [radioBtnValue]="'Y'"
            [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_Y'">
        </compass-ui-cw-radiobutton>
        <compass-ui-cw-radiobutton ngDefaultControl
            
            [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'No'" [radioBtnValue]="'N'"
            [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_N'">
        </compass-ui-cw-radiobutton>
    </fieldset>
    <div class="mb-3">
        <compass-ui-cw-datepicker  label="What date is (or will) Individual.FirstName be eligible for coverage?" showFieldHelpText="MM/DD/YYYY"
            requiredText="{{'lblrequired' | translate}}" ngDefaultControl [formControlName]="'dateOfBirth'"
            [required]="true" [displayError]="isFieldValid('dateOfBirth')" [showError]="isFieldValid('dateOfBirth')"
            errorMsg="{{'basidDetailRequiredMessage' | translate}}"></compass-ui-cw-datepicker>

      
    </div>
    <fieldset class="button-group mb-3">
        <legend>Does Individual.EmployerName's health plan meet the minimum value standard?</legend>
        <compass-ui-cw-radiobutton ngDefaultControl
           
            [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'Yes'" [radioBtnValue]="'Y'"
            [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_Y'">
        </compass-ui-cw-radiobutton>
        <compass-ui-cw-radiobutton ngDefaultControl

            [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'No'" [radioBtnValue]="'N'"
            [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_N'">
        </compass-ui-cw-radiobutton>
    </fieldset>
    <fieldset class="button-group mb-3">
        <legend>Will Individual.EmployerName's health plan change soon?</legend>
        <compass-ui-cw-radiobutton ngDefaultControl
           
            [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'Yes'" [radioBtnValue]="'Y'"
            [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_Y'">
        </compass-ui-cw-radiobutton>
        <compass-ui-cw-radiobutton ngDefaultControl
           
            [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
            [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'No'" [radioBtnValue]="'N'"
            [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_N'">
        </compass-ui-cw-radiobutton>
    </fieldset>
  
        <div class="mb-3">
            <compass-ui-cw-datepicker  label="What date is (or will) {Individual.FirstName} be eligible for coverage?" showFieldHelpText="MM/DD/YYYY"
                requiredText="{{'lblrequired' | translate}}" ngDefaultControl [formControlName]="'dateOfBirth'"
                [required]="true" [displayError]="isFieldValid('dateOfBirth')" [showError]="isFieldValid('dateOfBirth')"
                errorMsg="{{'basidDetailRequiredMessage' | translate}}"></compass-ui-cw-datepicker>
    
          
        </div>
        <div class="mb-3" >
            <compass-ui-cw-select [fieldId]="'reasonForFutureLossHealthInsurance'" [fieldLabel]="'Why did ' +currentUserName+ ' lose or choose to end coverage?'" [FormGroup]="currentPolicyEndForm"
                errorMsg="{{'basidDetailRequiredMessage' | translate}}"
              >
                <option value="" selected>- Select One -</option>
                <option *ngFor="let x of policyEnd" value="{{x.id}}">{{x.displayValue}}</option>
            </compass-ui-cw-select>
        </div>
      
        <fieldset class="button-group mb-3">
            <legend>Will Individual.EmployerName's health plan change soon?</legend>
            <compass-ui-cw-radiobutton ngDefaultControl
               
                [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
                [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'Yes'" [radioBtnValue]="'Y'"
                [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_Y'">
            </compass-ui-cw-radiobutton>
            <compass-ui-cw-radiobutton ngDefaultControl
                
                [formControlName]="'employerStoppedCoverageChildrenLostInsurance'" [radioButtonGroupName]="'employerStoppedCoverageChildrenLostInsurance'"
                [labelClass]="'btn btn-outline-tertiary'" [radioClass]="'btn-check'" [radioLabel]="'No'" [radioBtnValue]="'N'"
                [radioBtnId]="'employerStoppedCoverageChildrenLostInsurance_N'">
            </compass-ui-cw-radiobutton>
        </fieldset>
     
    
</form> -->