<div class="homepage">
    <div class="bg-gray">
        <div class="container quick-actions">
            <div class="row">
                <div class="col-12 col-xl-5 centering">
                    <img src="./assets/images/quickaction-hero1.png" aria-hidden="true" class="img-fluid" />
                </div>
                <div class="col-12 col-xl-7">
                    <h2 class="h1">{{'lblQuickActions' | translate}}</h2>
                    <p class="mb-4">{{'quickActionHelperText' | translate}}</p>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-key">
                                <div>
                                    <h3>{{'quickActionTitle1' | translate}}</h3>
                                    <p>{{'quickActionContext1' | translate}}</p>
                                    <a href="www.google.com">{{'quickActionAnchorText1' | translate}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-home-heart">
                                <div>
                                    <h3>{{'quickActionTitle2' | translate}}</h3>
                                    <p>{{'quickActionContext2' | translate}}</p>
                                    <a href="www.google.com">{{'quickActionAnchorText2' | translate}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-money-light">
                                <div>
                                    <h3>{{'quickActionTitle3' | translate}}</h3>
                                    <p>{{'quickActionContext3' | translate}}</p>
                                    <a href="www.google.com">{{'quickActionAnchorText3' | translate}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="quick-action icn-apple">
                                <div>
                                    <h3>{{'quickActionTitle4' | translate}}</h3>
                                    <p>{{'quickActionContext4' | translate}}</p>
                                    <a href="applynow/gettingstarted">{{'quickActionAnchorText4' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>