<div class="text-center px-2">
    <img src="./assets/images/image.png" class="gatepost-img" />
    <h1>Expenses</h1>
    <p class="fw-bold">Now, let's enter information about your household's expenses.</p>
</div>
<div class="alert alert-info">
    <dl class="text-left">
        <p>For the expenses section you might need these documents:</p>
        <ul>
            <li>
                Utility Bills
            </li>
            <li>
                Transportation receipts
            </li>
        </ul>
    </dl>
</div>
<div class="text-center px-2">
    <p class="mb-0"><a href="#" class="hyperlink-lg" (click)="save()">Save and exit</a> if you would like to come back later.</p>
</div>

<nav class="action-bar d-flex justify-content-between">
    <div>
        <button type="button" class="btn btn-outline-tertiary" (click)="previousRoute()">
            Back
        </button>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Next
        </button>
    </div>
</nav>
