    <h1 class="mb-0">Based on the information you gave us, you don't automatically qualify for LIHEAP Crisis benefits.
    </h1>
    <p>If you would like to apply for LIHEAP Crisis or other benefits, visit My Benefits and select New Application.
    </p>
    <compass-ui-cw-button [textStyle]="'btn btn-secondary w-100'" [buttonLabel]="'+ New Application'"
        (click)="newApplication()">
    </compass-ui-cw-button>

<div class="row mt-3 action-bar">
    <div class="col-12">
        <compass-ui-cw-button [textStyle]="'btn btn-outline-tertiary w-100'"
            [buttonLabel]="'Go Back to My COMPASS Dashboard'" (click)="onBack()">
        </compass-ui-cw-button>
    </div>
</div>