        <div>
            <div class="parent_layout_image_section-2"></div>
            <div class="parent-layout-child-Image-Section">Review and Submit</div>
        </div>
        <div class="parent-layout-child-heading mb-3">
               <h3>Your application is almost finished!</h3>
        </div>
        <div class="parent_layout_image_section-1 mb-3">
            <div class="parent_layout_image_area">
                <i class="fa-light fa-lightbulb"></i>
            </div>
            <div class="text_color">
                <p>Here is what to expect:
                <ul>
                    <li>View and add other benefits you may qualify for</li>
                    <li>Review a summary of your application</li>
                    <li>Go over some final information</li>
                    <li>Submit your application</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <a href="#">Save and exit</a> if you'd like to come back later.
        </div>
        <compass-ui-cw-dpq-button [backButtonLabel]="'backBtnText' | translate" [nextButtonLabel]="'nextBtnText' | translate"
            (back)="back()" (next)="next()">
        </compass-ui-cw-dpq-button>