<form [formGroup]="basicInfoGroup">
  <h1>{{ 'sa_forgotpassBItitle' | translate }}</h1>
  <div class="alert alert-info">
    <p>{{ 'sa_forgotpassBItext1' | translate }}</p>
  </div>
  <p class="fw-bold">{{ 'sa_forgotpassBItext2' | translate }}</p>

  <div class="mb-3">
    <compass-ui-text [fieldId]="'username'" (inputModelChange)="infoError = false" [FormGroup]="basicInfoGroup" [fieldLabel]="'sa_forgotpassBIlbl1' | translate"
       [displayError]="isFieldInvalid('username')" [requiredIndicator]="true" [requiredText]="'lblrequired' | translate"
      [errorText]="errorMap('username') | translate" [maxLength]="usernameMaxL" [fieldHelpText]="'sa_forgotpassBIhelp1' | translate">
    </compass-ui-text>
  </div>
  <div class="mb-3">
    <compass-ui-text [fieldId]="'firstName'" (inputModelChange)="infoError = false" [FormGroup]="basicInfoGroup" [fieldLabel]="'sa_forgotpassBIlbl2' | translate"
       [displayError]="isFieldInvalid('firstName')" [requiredIndicator]="true" [requiredText]="'lblrequired' | translate"
      [errorText]="errorMap('firstName') | translate" [maxLength]="firstNameMaxL" [fieldType]="'nameParts'">
    </compass-ui-text>
  </div>
  <div class="mb-3">
    <compass-ui-text [fieldId]="'lastName'" (inputModelChange)="infoError = false" [FormGroup]="basicInfoGroup" [fieldLabel]="'sa_forgotpassBIlbl3' | translate"
       [displayError]="isFieldInvalid('lastName')" [requiredIndicator]="true" [requiredText]="'lblrequired' | translate"
      [errorText]="errorMap('lastName') | translate" [maxLength]="lastNameMaxL" [fieldType]="'nameParts'">
    </compass-ui-text>
  </div>

  <compass-ui-cw-dpq-button backButtonLabel="{{'cancel'| translate}}" nextButtonLabel="{{'next'| translate}}"
  (back)="cancel()" (next)="next()">
</compass-ui-cw-dpq-button>
</form>
