<form [formGroup]="householdAnotherPerForm" (ngSubmit)="onSubmit()">
        <h1>{{'afsaddanotherperson' | translate}}</h1>
        <div class="pt-2">
            <compass-ui-text [fieldId]="'firstName'" [FormGroup]="householdAnotherPerForm"
                [fieldLabel]="'lblFirstName' | translate" [requiredText]="'lblrequired' | translate"
                [requiredIndicator]="true" [displayError]="isFieldValid('firstName')" [errorMsg]="errorMap('firstName')"
                [errorText]="errorMap('firstName')" [maxLength]="11" pattern="[a-zA-Z]*"
                (inputModelChange)="GetValue($event)" [fieldType]="'nameType'">
            </compass-ui-text>
            <compass-ui-text [fieldId]="'midName'" [FormGroup]="householdAnotherPerForm"
                [fieldLabel]="'afsMiddleName' | translate" [maxLength]="1" pattern="[a-zA-Z]*"
                [displayError]="isFieldValid('midName')" [errorText]="errorMap('midName')" [fieldType]="'nameType'">
            </compass-ui-text>
            <compass-ui-text [fieldId]="'lastName'" [FormGroup]="householdAnotherPerForm"
                [fieldLabel]="'lblLastName' | translate" [requiredText]="'lblrequired' | translate"
                [requiredIndicator]="true" [displayError]="isFieldValid('lastName')" [errorText]="errorMap('lastName')"
                [maxLength]="14" pattern="[a-zA-Z]*" [fieldType]="'nameType'"></compass-ui-text>
            <!-- <compass-ui-cw-select [fieldId]="'suffix'" [fieldLabel]="'afsSuffix' | translate"
                [FormGroup]="householdAnotherPerForm" [requiredText]="">
                <option value="" selected>- Select One -</option>
                <option *ngFor="let suffixs of suffixls" value="{{suffixs.id}}">{{suffixs.displayValue}}</option>
            </compass-ui-cw-select> -->
            <div class="form-group pb-4 ">
                <label class="pb-2 form-label">Suffix</label>
                <select class="form-control" name="suffix" id="suffix" formControlName = "suffix">
                    <option value="" selected>- Select One -</option>
                <option *ngFor="let suffixs of suffixls" value="{{suffixs.id}}">{{suffixs.displayValue}}
                </option>
                </select>
            </div>
            <!--<compass-ui-cw-select [fieldId]="'suffix'" [fieldLabel]="'afsSuffix' | translate"
                [FormGroup]="householdAnotherPerForm">
                <option value="" selected>- Select One -</option>
                <option *ngFor="let suffixs of suffixls" value="{{suffixs.displayValue}}">{{suffixs.displayValue}}
                </option>
            </compass-ui-cw-select>-->
            <compass-ui-cw-datepicker 
                [maxRange]="maxDateRange" 
                label="{{'lbldob' | translate }}" 
                [required]="true"
                ngDefaultControl 
                id="dateOfBirth" 
                [formControlName]="'dateOfBirth'"
                requiredText="{{'lblrequired' | translate}}" 
                [displayError]="isFieldValid('dateOfBirth')"
                [showError]="isFieldValid('dateOfBirth')" 
                [errorMsg]="errorMap('dateOfBirth') | translate">
            </compass-ui-cw-datepicker>
            <div class="form-group">
                <fieldset class="button-group">
                    <legend>{{'lblsex' | translate }}<span>{{'lblrequired' | translate}}</span></legend>
                    <compass-ui-cw-radiobutton ngDefaultControl (inputModelChange)="changeGender($event,'M')"
                        [showError]="isFieldValid('gender')" [formControlName]="'gender'" [required]="true"
                        [radioButtonGroupName]="'gender'" [labelClass]="'btn btn-sm btn-outline-tertiary'"
                        [radioClass]="'btn-check'" radioLabel="{{'genderlblmale'| translate}}">
                    </compass-ui-cw-radiobutton>
                    <compass-ui-cw-radiobutton ngDefaultControl (inputModelChange)="changeGender($event,'F')"
                        [showError]="isFieldValid('gender')" [formControlName]="'gender'" [required]="true"
                        [radioButtonGroupName]="'gender'" [labelClass]="'btn btn-sm btn-outline-tertiary'"
                        [radioClass]="'btn-check'" radioLabel="{{'genderlblfemale'| translate}}">
                    </compass-ui-cw-radiobutton>
                </fieldset>
                <cw-field-error-display [displayError]="isFieldValid('gender')" errorMsg="{{errorMap('gender')}}">
                </cw-field-error-display>
            </div>
            <div class="form-group pt-3 py-2">
                <fieldset class="button-group">
                    <legend>{{'afsAnotherName' | translate: { firstNamelocal: firstNamelocal} }}</legend>
                    <compass-ui-cw-radiobutton ngDefaultControl
                        [formControlName]="'otherName'"  [radioButtonGroupName]="'otherName'"
                        [labelClass]="'btn btn-sm btn-outline-tertiary'" [radioClass]="'btn-check'"
                        radioLabel="{{'lblyes'| translate}}" (click)="addAnotherName()" value="Y">
                    </compass-ui-cw-radiobutton>
                    <compass-ui-cw-radiobutton ngDefaultControl
                        [formControlName]="'otherName'" [radioButtonGroupName]="'otherName'"
                        [labelClass]="'btn btn-sm btn-outline-tertiary'" [radioClass]="'btn-check'"
                        radioLabel="{{'afsno'| translate}}" (click)="removeAnotherName()" value="N">
                    </compass-ui-cw-radiobutton>
                </fieldset>
                <!--<cw-field-error-display [displayError]="isFieldValid('otherName')" errorMsg="{{errorMap('otherName')}}">
                </cw-field-error-display>-->
            </div>
            <ng-container *ngIf="showAnotherName">
                <div class="card arrow-card">
                    <div class="card-body">
                        <div class="form-group">
                            <compass-ui-text [fieldId]="'otherNameVal'" [FormGroup]="householdAnotherPerForm"
                                [requiredText]="' (required)'" [fieldLabel]="'afsothername' | translate"
                                [requiredIndicator]="true" [displayError]="isFieldValid('otherNameVal')"
                                [errorText]="errorMap('otherNameVal')" [fieldType]="'nameType'" [maxLength]="30">
                            </compass-ui-text>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="showRelationship">
                <compass-ui-cw-select [fieldId]="'relationship'"
                    [fieldLabel]="'Relationship to '+ headName + ' ' + headMiddleName + ' ' +  headLastName + ' ' +  headSuffix + ' ' + headAge + ' ' + '('+headGender+')'"
                    [FormGroup]="householdAnotherPerForm" [requiredText]="'(required)'"
                    [displayError]="isFieldValid('relationship')" [errorMsg]="errorMap('relationship')">
                    <option value="" selected>- Select One -</option>
                    <option *ngFor="let relation of relationships" value="{{relation.displayValue}}">
                        {{relation?.displayValue}}</option>
                </compass-ui-cw-select>
            </div>
            <div class="mb-md-4 mb-3">

                <div formArrayName="memberRelationships">
                    <div class="col-12"
                        *ngFor="let memberRelationship of memberRelationshipFormGroup.controls; let i = index;">
                        <div [formGroupName]="i" class="row">
                            <div class="form-group pt-3">
                                <label class="form-label">

                                    {{'Relationship to '+basicDetails_relations[i].firstName +' '+
                                    basicDetails_relations[i].lastName}}
                                    <span>(required)</span></label>

                                <select class="form-control" name="basicDetails_relations[i].id" 
                                    formControlName="{{basicDetails_relations[i].id}}" type="text">
                                    <option value="0" selected>- Select One -</option>
                                    <option *ngFor="let relation of relationships" value="{{relation.id}}">
                                        {{relation.displayValue}}
                                    </option>
                                </select>

                                <span class="text-danger"
                                    *ngIf=" getmemberRelationshipsFormGroup(i).controls[basicDetails_relations[i].id].hasError('required') && getmemberRelationshipsFormGroup(i).controls[basicDetails_relations[i].id].touched">
                                    Relationship with {{basicDetails_relations[i].firstName}},
                                    {{basicDetails_relations[i].lastName}} is required! </span>

                                 
                            </div>
                            <!-- <span class="text-danger"
                                *ngIf="getmemberRelationshipsFormGroup(i).controls[basicDetails_relations[i].id].touched && getmemberRelationshipsFormGroup(i).controls[basicDetails_relations[i].id].hasError('required')">
                                Relationship with {{basicDetails_relations[i].firstName}}, {{basicDetails_relations[i].lastName}} is required!
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <nav class="action-bar d-flex justify-content-between">
        <div>
            <button type="button" class="btn btn-outline-tertiary" (click)="previous()">
                Back
            </button>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
                Next
            </button>
        </div>
    </nav>
</form>