<div class="page-content">
    <div>
        <h3>Welcome to COMPASS Refresh Project</h3>
    </div>
    <button type="button" class="btn btn-outline-tertiary" (click)="getApp('/intake/')">Intake</button>
    <button type="button" class="btn btn-outline-tertiary" (click)="getApp('/mca/')">MCA</button>
    <button type="button" class="btn btn-outline-tertiary" (click)="getApp('/providersearch/')">Provider Search</button>
    <button type="button" class="btn btn-outline-tertiary" (click)="getApp('/admin/')">Admin</button>
    <button type="button" class="btn btn-outline-tertiary" (click)="getApp('/communitypartner/')">Community
        Partner</button>
    <!-- <button type="button" class="btn btn-outline-tertiary" data-bs-toggle="modal"
        data-bs-target="#closeLoginPopupModal">{{'Loginbtn'|translate}}</button> -->

</div>