<form class="form-horizontal"  [formGroup]='milataryStatusForm'
  (ngSubmit)="onSubmit()" >
  <h1 class="standard-mb">What is {{currentUser.firstName}}'s United States milatary status?</h1>
  <cw-field-error-display
    [displayError]="showError"
    errorMsg="Please select a milatary status">
  </cw-field-error-display>
  <div *ngFor="let milataryMember of milataryMemberStatusFormArray.controls;let i=index"
    class="standard-mb">
      <div class="form-check custom">
        <input class="form-check-input" id={{milataryMembertData[i].id}} type="radio" value={{milataryMembertData[i].id}}
          (change)="onCheckboxChange($event)"
          [checked]="selectedUserids === milataryMembertData[i].id">
        <label class="form-check-label" for={{milataryMembertData[i].id}}>
          {{milataryMembertData[i].displayValue}}
        </label>
      </div>
  </div>
  <nav class="action-bar d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-outline-tertiary" (click)="previous()">
        Back
      </button>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">
        Next
      </button>
    </div>
  </nav>
</form>
<!-- <cw-simpletile-checkbox [simpleTileCheckboxData]="householdHeadSelectionJsonData" (nextPage)="showNextPage($event)"
    (previousPage)="showPreviousPage()">
</cw-simpletile-checkbox> -->
