<form [formGroup]="residenceGroup" (ngSubmit)="onSubmit()">
  <h1>What is your household's address?</h1>
  <div class="alert alert-info mt-3">
You cannot use a P.O. Box address.
  </div>
  <compass-ui-text [fieldId]="'AddressLine1'"  (keypress)="checkChar($event)" [FormGroup]="residenceGroup" [fieldLabel]="'Street Address'"
    [requiredText]="' (required)'" [requiredIndicator]="true" [displayError]="isFieldValid('AddressLine1')"
     [maxLength]="26" [errorText]="errorMap('AddressLine1')">
  </compass-ui-text>
  <compass-ui-text [fieldId]="'AddressLine2'" (keypress)="checkChar($event)" [FormGroup]="residenceGroup" [fieldLabel]="'Street Address (2)'"
     [maxLength]="26">
  </compass-ui-text>

  <compass-ui-cw-select ngDefaultControl formControlName="unitType" fieldId="unitType"
    [fieldLabel]="'afsResidenceLbl3' | translate" [FormGroup]="residenceGroup">
    <option value="" selected>- {{'selectone' | translate}} -</option>
    <option *ngFor="let unitType of unitTypes" value="{{unitType.id}}">{{ unitType.displayValue }}</option>
  </compass-ui-cw-select>

<compass-ui-text fieldId="unitNumber"  (keypress)="OnlyNumberAllowed($event)" [maxLength]="15" ngDefaultControl [FormGroup]="residenceGroup" formControlName="unitNumber"
  [fieldLabel]="'afsResidenceLbl4' | translate">
</compass-ui-text>

  <compass-ui-text [fieldId]="'City'" [FormGroup]="residenceGroup" [fieldLabel]="'City'"
    [requiredText]="' (required)'" [requiredIndicator]="true" [displayError]="isFieldValid('City')"
    [fieldType]="'nameType'" [maxLength]="26" [errorText]="errorMap('City')">
  </compass-ui-text>
  <compass-ui-cw-select [fieldId]="'State'" [fieldLabel]="'State'" [FormGroup]="residenceGroup"  [requiredIndicator]="true" 
    [requiredText]="'(required)'" [displayError]="isFieldValid('State')" [errorMsg]="errorMap('State')">
    <option value="" selected>- Select One -</option>
    <option *ngFor="let state of states" value="{{state.id}}">{{state.displayValue}}</option>
  </compass-ui-cw-select>
  <compass-ui-text [fieldId]="'Zip'" [FormGroup]="residenceGroup" [fieldLabel]="'ZIP Code'"
    [requiredIndicator]="true" [requiredText]="' (required)'" [displayError]="isFieldValid('Zip')"
    (keypress)="OnlyNumberAllowed($event)" [maxLength]="5" [errorText]="errorMap('Zip')">
  </compass-ui-text>
  <compass-ui-cw-select *ngIf="counties" [fieldId]="'County'"  [requiredIndicator]="true"  [fieldLabel]="'County'" [FormGroup]="residenceGroup"
    [requiredText]="'(required)'" [displayError]="isFieldValid('County')" [errorMsg]="errorMap('County')">
    <option value="" selected>- Select One -</option>
    <option *ngFor="let county of counties.tableRows" value={{county.id}}>{{county.displayValue}}</option>

  </compass-ui-cw-select>    
  <div class="form-group">
    <fieldset class="button-group">
      <legend>Is there another address that we should send mail to? </legend>
      <compass-ui-cw-radiobutton [showError]="isFieldValid('anotherAdd')" ngDefaultControl
        [formControlName]="'anotherAdd'" [required]="true" [radioButtonGroupName]="'anotherAdd'"
        [labelClass]="'btn btn-sm btn-outline-tertiary'" [radioClass]="'btn-check'" radioLabel="Yes"
        (click)="showAnotherAddress()"></compass-ui-cw-radiobutton>
      <compass-ui-cw-radiobutton [showError]="isFieldValid('anotherAdd')" ngDefaultControl
        [formControlName]="'anotherAdd'" [required]="true" [radioButtonGroupName]="'anotherAdd'"
        [labelClass]="'btn btn-sm btn-outline-tertiary'" [radioClass]="'btn-check'" radioLabel="No"
        (click)="removeAnotherAddress()">
      </compass-ui-cw-radiobutton>
      <cw-field-error-display [displayError]="isFieldValid('anotherAdd')" errorMsg="{{errorMap('anotherAdd')}}">
      </cw-field-error-display>
    </fieldset>
  </div>
  <div class="card arrow-card" *ngIf="anotherAddressCon">
    <div class="card-body">
      <div class="form-group mb-4">
        <compass-ui-text [fieldId]="'anotherAddress'" (keypress)="checkChar($event)" [FormGroup]="residenceGroup" [fieldLabel]="'Street Address'"
          [requiredText]="'(required)'" [requiredIndicator]="true" [displayError]="isFieldValid('anotherAddress')"
          [errorText]="errorMap('anotherAddress')" [fieldType]="'addressType'" [maxLength]="26">
        </compass-ui-text>
      </div>
      <div class="form-group mb-4">
        <compass-ui-text [fieldId]="'anotherAddress2'" (keypress)="checkChar($event)" [FormGroup]="residenceGroup"
          [fieldLabel]="'Street Address (2)'" [fieldType]="'addressType'" [maxLength]="26">
        </compass-ui-text>
      </div>
      <div class="form-group mb-4">
        <compass-ui-text [fieldId]="'anotherCity'" [FormGroup]="residenceGroup" [fieldLabel]="'City'"
          [requiredText]="'(required)'" [requiredIndicator]="true" [displayError]="isFieldValid('anotherCity')"
          [errorText]="errorMap('anotherCity')" [fieldType]="'nameType'" [maxLength]="26">
        </compass-ui-text>
      </div>
      <div class="form-group mb-4">
        <compass-ui-cw-select [fieldId]="'anotherState'" [fieldLabel]="'State'"  [requiredIndicator]="true"  [FormGroup]="residenceGroup"
         [requiredText]="'(required)'" [displayError]="isFieldValid('State')"
          [errorMsg]="errorMap('State')">
        <option value="" selected>- Select One -</option>
        <option *ngFor="let state of states"  value="{{state.id}}">{{state.displayValue}}</option>
        </compass-ui-cw-select>
      </div>
      <div class="form-group mb-4">
        <compass-ui-text [fieldId]="'anotherZip'" [FormGroup]="residenceGroup" [requiredText]="'(required)'"
          [fieldLabel]="'ZIP Code'" [requiredIndicator]="true" [errorText]="'Enter valid Zip'"
          [errorMsg]="errorMap('anotherZip')" [displayError]="isFieldValid('anotherZip')"
          (keypress)="OnlyNumberAllowed($event)" [maxLength]="5">
        </compass-ui-text>
      </div>
        <div class="form-group mb-4">
      <compass-ui-cw-select *ngIf="counties" [fieldId]="'anotherCounty'" [fieldLabel]="'County'" [FormGroup]="residenceGroup"
        [requiredText]="'(required)'"   [requiredIndicator]="true" [displayError]="isFieldValid('anotherCounty')" [errorMsg]="errorMap('anotherCounty')">
        <option value="" selected>- Select One -</option>
        <option *ngFor="let county of counties.tableRows" value={{county.id}}>{{county.displayValue}}</option> 
      </compass-ui-cw-select>
      </div>
   
    </div>
  </div>
  
  <nav class="action-bar d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-outline-tertiary" (click)="previous()">
        Back
      </button>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">
        Next
      </button>
    </div>
  </nav>
</form>
<div style="display:block" class="modal fade show" [hidden]="!isAddressGISValidated" id="loadingModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true" #loadingModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-icon-div">
          <i class="fa-regular fa-triangle-exclamation danger"></i>
        </div>
        <h2>We could not confirm the address you entered</h2>
        <p class="mb-md-4 mb-3">The address you entered doesn’t match any address that USPS has on record. </p>
        <p>Without an address, it may take longer to process your application.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-tertiary" #closeModal data-bs-dismiss="modal"
          (click)="useAnyway()">Use Anyway</button>
        <button type="button" class="btn btn-primary" (click)="editAddress()">Edit Address</button>
      </div>
    </div>
  </div>
</div>
<div style="display:block" class="modal fade show" [hidden]="!loadingUSPS" id="loadingUSPSModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true" #loadingUSPSModal>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2>Validating Address</h2>
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    </div>
  </div>
</div>