<form [formGroup]="otherIncomeAddressForm">
        <h1>Is any of the other income received sent somewhere other than the household address?</h1>
        <div class="form-group">

            <fieldset class="button-group">
                <legend></legend>
                <compass-ui-cw-radiobutton ngDefaultControl [formControlName]="'isDifferentAddress'" [required]="true"
                    [radioButtonGroupName]="'isDifferentAddress'" [labelClass]="'btn btn-outline-tertiary'"
                    [radioClass]="'btn-check'" radioLabel="Yes"></compass-ui-cw-radiobutton>

                <compass-ui-cw-radiobutton ngDefaultControl [formControlName]="'isDifferentAddress'" [required]="true"
                    [radioButtonGroupName]="'isDifferentAddress'" [labelClass]="'btn btn-outline-tertiary'"
                    [radioClass]="'btn-check'" radioLabel="No">
                </compass-ui-cw-radiobutton>
            </fieldset>



            <div class="card arrow-card p-3" *ngIf="otherIncomeAddressForm.value.isDifferentAddress === 'Yes'">
                <compass-ui-text [fieldId]="'nameOfFinancialInstitution'" [fieldType]="'nameType'" [FormGroup]="otherIncomeAddressForm"
                    [fieldLabel]="'Name or Institution Money is Sent To' | translate" [maxLength]="26">
                </compass-ui-text>
                <compass-ui-text [fieldId]="'addressLine1'" [fieldType]="'addressType'" [FormGroup]="otherIncomeAddressForm"
            [fieldLabel]="'Street Address' | translate" [maxLength]="26">
                </compass-ui-text>
                <compass-ui-text [fieldId]="'addressline2'" [fieldType]="'addressType'" [FormGroup]="otherIncomeAddressForm"
                    [fieldLabel]="'Street Address (2)' | translate" [maxLength]="26" pattern="[a-zA-Z0-9#/-\s]*">
                </compass-ui-text>
                <compass-ui-text [fieldId]="'city'" [fieldType]="'nameType'" [FormGroup]="otherIncomeAddressForm"
                    [fieldLabel]="'City' | translate" [maxLength]="16">
                </compass-ui-text>
                <compass-ui-cw-select [fieldId]="'state'" [fieldLabel]="'State'"
                    [FormGroup]="otherIncomeAddressForm">
                    <option value="" selected>- {{'selectone' | translate}} -</option>
                    <option *ngFor="let state of states" value="{{state.id}}">{{state.displayValue}}</option>
                </compass-ui-cw-select>
                <compass-ui-text [fieldId]="'zip'" [FormGroup]="otherIncomeAddressForm"
                    [fieldLabel]="'Zip'" (keypress)="OnlyNumberAllowed($event)" [maxLength]="5"  pattern="[0-9]*">
                </compass-ui-text>
            </div>
        </div>

    <compass-ui-cw-dpq-button backButtonLabel=" {{'backBtnText'| translate}}" nextButtonLabel="{{'nextBtnText'| translate}}"
        (next)="goNext()" (back)="goBack()">
    </compass-ui-cw-dpq-button>
</form>